<nav class="relative bg-white border-b border-stone-200 dark:bg-neutral-800 dark:border-neutral-700">
  <div class="max-w-[85rem] flex flex-wrap justify-between gap-2 basis-full items-center w-full mx-auto lg:py-2.5 px-4 sm:px-6 lg:px-8">
    {% if user.is_superuser %}
      {% include './menus/super_admin_menu.html' %}
    {% elif user.category == 'staff' and user.franchisemember %}
      {% if role == 'Franchise Head' %}
        {% include './menus/franchise_head_menu.html' %}
      {% elif role == 'Administrator' %}
        {% include './menus/admin_menu.html' %}
      {% else %}
        {% include './menus/custom_staff_menu.html' %}
      {% endif %}
    {% elif user.category == 'student' %}
      {% include './menus/student_menu.html' %}
    {% elif user.category == 'parent' %}
      {% include './menus/parent_menu.html' %}
    {% else %}
      {% include './menus/default_menu.html' %}
    {% endif %}
  </div>
</nav>