.vjs-theme-plyr {
    --vjs-theme-plyr-tooltip-color: #131314;
    --vjs-theme-plyr-tooltip-radius: 5px;
    --vjs-theme-plyr-control-spacing: 10px;
}
.vjs-control:hover .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-play-progress,
.vjs-title:hover {
    background-color: var(--vjs-theme-plyr--accent);
}
.vjs-theme-plyr .vjs-big-play-button,
.vjs-theme-plyr.vjs-big-play-button:focus,
.vjs-theme-plyr:hover .vjs-big-play-button {
    width: 50px;
    height: 50px;
    background: var(--vjs-theme-plyr--primary);
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    color: var(--vjs-theme-plyr--icons);
    transition:
        background 0.4s 0.2s,
        box-shadow 0.4s;
    position: fixed !important;
}
.vjs-theme-plyr:hover .vjs-big-play-button {
    background: var(--vjs-theme-plyr--primary);
}
.vjs-theme-plyr .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1em;
}
.vjs-theme-plyr .vjs-play-progress:before {
    display: none;
}
.vjs-theme-plyr .vjs-progress-holder {
    border-radius: 0.2em;
    height: 0.5em;
    margin: 0;
}
.vjs-theme-plyr .vjs-load-progress,
.vjs-theme-plyr .vjs-load-progress div,
.vjs-theme-plyr .vjs-play-progress {
    border-radius: 0.2em;
}
.video-js .vjs-control {
    width: 5em;
}
.video-js .vjs-control-bar {
    transform: translateY(100%);
    opacity: 0;
    transition:
        transform 0.3s,
        opacity 0.3s;
    background-color: #fff0;
}
.video-js.pause .vjs-control-bar,
.video-js:hover .vjs-control-bar {
    transform: translateY(-35%);
    opacity: 1;
    transition:
        transform 0.3s,
        opacity 0.3s;
    background-color: #fff0;
}
.video-js .vjs-settings-menu::after,
.vjs-theme-plyr .vjs-fullscreen-control::after,
.vjs-theme-plyr .vjs-picture-in-picture-control::after,
.vjs-theme-plyr .vjs-play-progress::after .video-js .vjs-mute-control::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--vjs-theme-plyr--icons);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -5px;
}
.vjs-theme-plyr .vjs-play-control {
    font-size: 1.2em;
    position: relative;
}
.vjs-theme-plyr .vjs-play-control .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-play-control:hover .vjs-icon-placeholder:before {
    width: 2.875em;
    height: 1.5em;
    margin-top: -0.2em;
    color: var(--vjs-theme-plyr--icons);
    margin-left: 9px;
    transition:
        background-color 0.3s,
        color 0.3s;
    line-height: 1.55;
}
.vjs-theme-plyr .vjs-icon-placeholder:before {
    width: 2em;
}
.vjs-theme-plyr .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-mute-control:hover .vjs-icon-placeholder:before {
    color: var(--vjs-theme-plyr--icons);
    transition:
        background-color 0.3s,
        color 0.3s;
    left: 20px;
}
.video-js .vjs-mute-control::before,
.video-js .vjs-settings-menu::before,
.vjs-theme-plyr .vjs-fullscreen-control::before,
.vjs-theme-plyr .vjs-picture-in-picture-control::before,
.vjs-theme-plyr .vjs-play-control::before {
    position: absolute;
    top: -2.75em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: var(--vjs-theme-plyr-tooltip-color);
    padding: 0.5em;
    padding: calc(var(--vjs-theme-plyr-control-spacing) / 2) calc(var(--vjs-theme-plyr-control-spacing) / 2 * 1.5);
    border-radius: var(--vjs-theme-plyr-tooltip-radius);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}
.vjs-theme-plyr .vjs-play-control::before {
    content: "Pause";
}
.video-js.pause .vjs-play-control::before {
    content: "Play";
}
.vjs-theme-plyr .vjs-fullscreen-control::before {
    content: "Enter Full Screen";
    padding-right: 45px;
}
.video-js.full-screen .vjs-fullscreen-control::before {
    content: "Exit Full Screen";
    padding-right: 45px;
}
.video-js .vjs-mute-control::before {
    content: "Mute";
    margin-left: auto;
}
.video-js.mute .vjs-mute-control::before {
    content: "Unmute";
    margin-left: auto;
}
.vjs-theme-plyr .vjs-picture-in-picture-control::before {
    content: "PIP";
    margin-left: -15px;
}
.video-js .vjs-mute-control::after,
.vjs-theme-plyr .vjs-fullscreen-control::after,
.vjs-theme-plyr .vjs-picture-in-picture-control::after,
.vjs-theme-plyr .vjs-play-control::after {
    content: "";
    position: absolute;
    top: -1em;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff0 #fff0 #fff;
    transition: opacity 0.3s;
    opacity: 0;
    transform: rotate(180deg);
}
.vjs-theme-plyr .vjs-picture-in-picture-control::after {
    margin-left: -20px;
}
.vjs-progress-holder .vjs-time-tooltip:before,
.vjs-time-tooltip:before {
    border-top-width: 10px;
    border-bottom-width: 10px;
}
.video-js .vjs-mute-control:hover::after,
.video-js .vjs-mute-control:hover::before,
.video-js.pause .vjs-gradient-bar-overlay,
.video-js:hover .vjs-gradient-bar-overlay,
.vjs-theme-plyr .vjs-fullscreen-control:hover::after,
.vjs-theme-plyr .vjs-fullscreen-control:hover::before,
.vjs-theme-plyr .vjs-picture-in-picture-control:hover::after,
.vjs-theme-plyr .vjs-picture-in-picture-control:hover::before,
.vjs-theme-plyr .vjs-play-control:hover::after,
.vjs-theme-plyr .vjs-play-control:hover::before {
    opacity: 1;
}
.vjs-control:hover .vjs-icon-placeholder:before {
    border-radius: 2px;
}
.video-js .vjs-settings-menu.vjs-toogle-btn button.vjs-button span.vjs-icon-placeholder:before {
    background-color: transparent !important;
}
.vjs-menu li.vjs-menu-title {
    color: #0b0c0c;
    transition: color 0.3s;
}
.vjs-menu .vjs-menu-content {
    background-color: #fff !important;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.video-js .vjs-settings-menu .vjs-menu li,
.vjs-menu li {
    color: #0b0c0c;
    border-radius: 4px;
    transition: color 0.3s;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.video-js .vjs-settings-menu:hover .vjs-menu li:hover,
.vjs-menu li.vjs-menu-item:hover,
.vjs-menu li.vjs-selected:hover {
    color: #fff;
    background-color: var(--vjs-theme-plyr--accent);
    transition:
        background-color 0.3s,
        color 0.3s;
}
.video-js .vjs-settings-menu li.vjs-menu-item.vjs-selected,
.vjs-menu li.vjs-selected {
    color: var(--vjs-theme-plyr--accent);
    transition: color 0.3s;
}
.video-js ul.vjs-sm-top-level-header {
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.video-js .vjs-sm-top-level-header,
.video-js li.setting-menu-header {
    background: #fff !important;
    transition: background-color 0.3s;
}
.video-js li.setting-menu-header:hover {
    background: var(--vjs-theme-plyr--accent) !important;
    transition: background-color 0.3s;
}
.vjs-progress-holder .vjs-time-tooltip {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(255 255 255 / 0.75) !important;
    border-radius: 4px;
    transform: scale(1.5) translateY(-20px);
}
.vjs-progress-holder .vjs-time-tooltip:before {
    background: var(--vjs-theme-plyr--icons) !important;
}
.video-js .vjs-volume-control.vjs-slider-horizontal,
.video-js .vjs-volume-panel {
    display: flex;
    align-items: center;
}
.video-js .vjs-volume-bar {
    height: 4px;
    border-radius: 10px;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative;
    flex-grow: 1;
    margin-right: 5px;
}
.video-js .vjs-volume-level {
    background-color: var(--vjs-theme-plyr--accent);
    border-radius: 10px;
    height: 100%;
}
.video-js .vjs-volume-handle {
    background-color: var(--vjs-theme-plyr--icons);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.vjs-control-bar {
    background-color: rgb(0 0 0 / 0.1);
}
.vjs-time-tooltip.vjs-time-tooltip-2 {
    display: none !important;
}
.vjs-icon-circle {
    margin-top: auto;
}
.video-js .vjs-volume-panel {
    display: flex !important;
    align-items: center;
    width: auto !important;
}
.video-js .vjs-volume-panel .vjs-volume-control {
    transition: none !important;
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
    width: auto !important;
}
.vjs-title {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    color: #fff;
    font-size: 16px;
    background-color: var(--vjs-theme-plyr--primary);
    padding: 5px;
    border-radius: 3px;
}
.video-js {
    background-color: var(--vjs-theme-plyr--background);
}
.vjs-control .vjs-icon-placeholder,
.vjs-icon {
    color: var(--vjs-theme-plyr--icons);
}
.video-js.vjs-ended .vjs-poster {
    display: block;
}
.vjs-poster {
    position: relative !important;
}
.video-js .vjs-time-control {
    font-size: 12px;
    line-height: 2.4em;
}
@media only screen and (max-width: 600px) {
    .video-js .vjs-volume-panel .vjs-volume-control,

    .video-js.vjs-user-active .vjs-control-bar {
        transform: translateY(-35%);
        opacity: 1;
        transition:
            transform 0.3s,
            opacity 0.3s;
        background-color: #fff0;
    }
    .video-js.vjs-user-active .vjs-gradient-bar-overlay {
        opacity: 1;
    }
}
.vjs-gradient-bar-overlay {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
