<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
  Background backdrop, show/hide based on modal state.
  Entering: "ease-out duration-300"
  From: "opacity-0"
  To: "opacity-100"
  Leaving: "ease-in duration-200"
  From: "opacity-100"
  To: "opacity-0"
-->
  <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
          <!--
      Modal panel, show/hide based on modal state.
      Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
          <div
              class="relative px-4 pt-5 pb-4 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 min-h-[80vh]" @click.away="showsimilarQs=false,showRelatedDoubtsList=false,selectedDoubtId=null" x-data="{doubt_title:null}">
              <div class="flex">
                <svg x-show="selectedDoubtId" @click="showRelatedDoubtsList=true,selectedDoubtId=null" class="shrink-0 mr-3 w-5 text-gray-400 hover:cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
              </svg>
                <h3  x-show="selectedDoubtId" class="truncate text-base font-semibold leading-6 text-gray-900" x-text="doubt_title"></h3>
                  <h3 x-show="showRelatedDoubtsList" class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Similar Questions</h3>
              </div>
              <div class="mt-3">
                  <ul role="list" class="overflow-y-auto max-h-[67vh]">
                      
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('1'),doubt_title='Basic Maths'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Basic Maths
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">Is there any other way to do this or is this the right way?</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_1" x-show="selectedDoubtId==1"></div>
                    
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('2'),doubt_title='Current Electricity Study Material'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Current Electricity Study Material
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">Level 1 Q.no 15 - Answer option 2 is correct, but can you explain the steps?</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_2" x-show="selectedDoubtId==2"></div>
                    
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('3'),doubt_title='Organism and Population'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Organism and Population
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">Why is biotic community the answer and not ecological niche?</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_3" x-show="selectedDoubtId==3"></div>
                    
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('4'),doubt_title='Geometry Problem'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Geometry Problem
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">Unable to solve this question about four square lamina.</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_4" x-show="selectedDoubtId==4"></div>
                    
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('5'),doubt_title='Wheatstone Bridge'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Wheatstone Bridge
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">How to solve an unbalanced wheatstone bridge?</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_5" x-show="selectedDoubtId==5"></div>
                    
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('6'),doubt_title='Biology Query'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                Biology Query
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">Discussion on exceptions like hummingbirds in the context of All birds are regulators.</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_6" x-show="selectedDoubtId==6"></div>
                    
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
