---
tags: simba
role: "Franchise Head"
view: "Student Detail"
date: 2024-08-20
parent_page: Dashboard
current_page: Student Detail
user:
  first_name: James
  category: staff
  franchisemember: true
---

{% extends "src/simba/base.html" %} {% block title %} Student Detail | Simba {% endblock title %} {% block content %}
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
    {% include './includes/breadcrumb.html' %}
    <div class="py-2 sm:pb-0 sm:pt-5 space-y-5">
      <div class="flex flex-col">
        <!-- Grid -->
        <div class="grid grid-cols-1 lg:grid-cols-10 gap-5">
          <div class="h-fit lg:col-span-3 p-5 space-y-5 divide-y divide-stone-200 dark:divide-neutral-700 bg-white border border-stone-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
            {% include "./includes/student_avatar.html" %}
            {% include "./includes/personal_info.html" %}
        
            {% include "./includes/mentor_list.html" %}
          </div>
          <div class="lg:col-span-7 space-y-5">
            {% include "./includes/user_stats.html" %}
            {% include "./includes/course_and_batch_details.html" %}
            {% include "./includes/payment_history.html" %}
            {% include "./includes/schedules.html" %}
            {% include "./includes/recent_reviews.html" %}
          </div>
        </div>
        <!-- End Grid -->
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_scripts %}
<script src="{{'/node_modules/preline/dist/preline.js'|url}}"></script>
<script src="{{'/node_modules/clipboard/dist/clipboard.min.js'|url}}"></script>
<script src="{{'/node_modules/preline/dist/helper-clipboard.js'|url}}"></script>
{%  endblock extra_scripts %}