<!-- ========== MAIN SIDEBAR ========== -->
<aside id="hs-pro-sidebar" class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform w-65 h-full hidden fixed inset-y-0 inset-s-0 z-60 bg-white dark:bg-neutral-800 border-e border-gray-200 dark:border-neutral-700 lg:block lg:translate-x-0 lg:inset-e-auto lg:bottom-0" tabindex="-1" aria-label="Sidebar">
  <div class="relative flex flex-col h-full max-h-full pt-3">
    <header class="h-11.5 ps-5 pe-2 lg:ps-8 flex items-center justify-between">
      <!-- Logo -->
      <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-hidden text-gray-800 dark:text-neutral-300" href="/tpsentinel/dashboard/" aria-label="Sentinel">
        <img src="https://static.tpsentinel.com/app/img/logo.png" alt="Sentinel" class="w-auto h-7 dark:hidden">
        <img src="https://static.tpsentinel.com/app/img/logo-dark.png" alt="Sentinel" class="w-auto h-7 hidden dark:block">
      </a>
      <!-- End Logo -->

      <div class="lg:hidden ms-auto">
        <!-- Sidebar Close -->
        <button type="button" class="w-6 h-7 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md bg-white dark:bg-neutral-800 border border-gray-200 dark:border-neutral-700 text-gray-800 dark:text-white shadow-2xs hover:bg-gray-50 dark:hover:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50 dark:focus:bg-neutral-700" data-hs-overlay="#hs-pro-sidebar">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="7 8 3 12 7 16"/><line x1="21" x2="11" y1="12" y2="12"/><line x1="21" x2="11" y1="6" y2="6"/><line x1="21" x2="11" y1="18" y2="18"/></svg>
        </button>
        <!-- End Sidebar Close -->
      </div>
    </header>

    <!-- Content -->
    <div class="mt-1.5 h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-none [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
      <!-- Nav -->
      <nav class="hs-accordion-group pb-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col gap-y-1">
          <!-- Dashboard Link -->
          <li class="px-2 lg:px-5">
            <a class="flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 bg-gray-100 dark:bg-neutral-700 font-medium" href="/tpsentinel/dashboard/">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
              Dashboard
            </a>
          </li>
          <!-- End Link -->

          <!-- Review / Audit Accordion -->
          <li class="hs-accordion px-2 lg:px-5 active" id="review-accordion">
            <button type="button" class="hs-accordion-toggle hs-accordion-active:bg-gray-100 dark:hs-accordion-active:bg-neutral-700 w-full text-start flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" aria-expanded="true" aria-controls="review-accordion-sub">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
              Review
              <svg class="hs-accordion-active:-rotate-180 shrink-0 mt-1 size-3.5 ms-auto transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
            </button>

            <div id="review-accordion-sub" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="review-accordion">
              <ul class="hs-accordion-group ps-7 mt-1 flex flex-col gap-y-1 relative before:absolute before:top-0 before:inset-s-4.5 before:w-px before:h-full before:bg-gray-200 dark:before:bg-neutral-700" data-hs-accordion-always-open>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    My Assignments
                    <span class="ms-auto inline-flex items-center gap-1.5 py-px px-1.5 rounded-sm text-[10px] leading-4 font-medium bg-gray-100 dark:bg-neutral-700 text-gray-800 dark:text-neutral-200">23</span>
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="/tpsentinel/audit/list/">
                    Review Queue
                    <span class="ms-auto inline-flex items-center gap-1.5 py-px px-1.5 rounded-sm text-[10px] leading-4 font-medium bg-gray-100 dark:bg-neutral-700 text-gray-800 dark:text-neutral-200">1,000</span>
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Manage Reviewers
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- End Link -->

          <!-- Proctoring Accordion -->
          <li class="hs-accordion px-2 lg:px-5 active" id="proctoring-accordion">
            <button type="button" class="hs-accordion-toggle hs-accordion-active:bg-gray-100 dark:hs-accordion-active:bg-neutral-700 w-full text-start flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" aria-expanded="true" aria-controls="proctoring-accordion-sub">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"/></svg>
              Proctoring
              <svg class="hs-accordion-active:-rotate-180 shrink-0 mt-1 size-3.5 ms-auto transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
            </button>

            <div id="proctoring-accordion-sub" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="proctoring-accordion">
              <ul class="hs-accordion-group ps-7 mt-1 flex flex-col gap-y-1 relative before:absolute before:top-0 before:inset-s-4.5 before:w-px before:h-full before:bg-gray-200 dark:before:bg-neutral-700" data-hs-accordion-always-open>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="/tpsentinel/workspace/list/">
                    Workspaces
                    <span class="ms-auto inline-flex items-center gap-1.5 py-px px-1.5 rounded-sm text-[10px] leading-4 font-medium bg-gray-100 dark:bg-neutral-700 text-gray-800 dark:text-neutral-200">12</span>
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="/tpsentinel/candidate/list/">
                    Candidates
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Policy Templates
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- End Link -->

          <!-- Organization Accordion -->
          <li class="hs-accordion px-2 lg:px-5" id="org-accordion">
            <button type="button" class="hs-accordion-toggle hs-accordion-active:bg-gray-100 dark:hs-accordion-active:bg-neutral-700 w-full text-start flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" aria-expanded="false" aria-controls="org-accordion-sub">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
              Organization
              <svg class="hs-accordion-active:-rotate-180 shrink-0 mt-1 size-3.5 ms-auto transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
            </button>

            <div id="org-accordion-sub" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="org-accordion" style="display: none;">
              <ul class="hs-accordion-group ps-7 mt-1 flex flex-col gap-y-1 relative before:absolute before:top-0 before:inset-s-4.5 before:w-px before:h-full before:bg-gray-200 dark:before:bg-neutral-700" data-hs-accordion-always-open>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Members
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Roles and Permissions
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Usage and Billing
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- End Link -->

          <!-- Integrations Accordion -->
          <li class="hs-accordion px-2 lg:px-5" id="integrations-accordion">
            <button type="button" class="hs-accordion-toggle hs-accordion-active:bg-gray-100 dark:hs-accordion-active:bg-neutral-700 w-full text-start flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" aria-expanded="false" aria-controls="integrations-accordion-sub">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" /></svg>
              Integrations
              <svg class="hs-accordion-active:-rotate-180 shrink-0 mt-1 size-3.5 ms-auto transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
            </button>

            <div id="integrations-accordion-sub" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="integrations-accordion" style="display: none;">
              <ul class="hs-accordion-group ps-7 mt-1 flex flex-col gap-y-1 relative before:absolute before:top-0 before:inset-s-4.5 before:w-px before:h-full before:bg-gray-200 dark:before:bg-neutral-700" data-hs-accordion-always-open>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    API Tokens
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    Webhooks
                  </a>
                </li>
                <li>
                  <a class="flex gap-x-4 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700" href="#">
                    SSO
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- End Link -->

          <!-- Reports Link -->
          <li class="px-2 lg:px-5">
            <a class="flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 font-medium" href="#">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
              </svg>
              Reports
            </a>
          </li>
          <!-- End Link -->

          <!-- Background Jobs Link -->
          <li class="px-2 lg:px-5">
            <a class="flex gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 font-medium" href="#">
              <svg class="shrink-0 mt-0.5 size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <span class="truncate">Background Jobs</span>
              <span class="ms-auto inline-flex items-center gap-1.5 py-px px-1.5 rounded-sm text-[10px] leading-4 font-medium bg-gray-100 dark:bg-neutral-700 text-gray-800 dark:text-neutral-200 whitespace-nowrap shrink-0">3</span>
            </a>
          </li>
          <!-- End Link -->

          <!-- Documentation Link -->
          <li class="px-2 lg:px-5">
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-800 dark:text-neutral-200 rounded-lg hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 font-medium" href="#">
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
              </svg>
              <span>Documentation</span>
              <svg class="shrink-0 size-4 ms-auto text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M7 17 17 7" />
                <path d="M7 7h10v10" />
              </svg>
            </a>
          </li>
          <!-- End Link -->
        </ul>
      </nav>
      <!-- End Nav -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <footer class="border-t border-gray-200 dark:border-neutral-700 px-2 lg:px-5 py-4 mt-auto">
      {% include "../includes/organization_switcher.html" %}
    </footer>
  </div>
</aside>
<!-- ========== END MAIN SIDEBAR ========== -->
