  {% extends "src/flimix/layouts/sidebar_layout.html" %}
  {% block main_class %}bg-stone-50 min-h-[92vh]{% endblock %}
  {% block extra_head %} 
<script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome/menu/+esm"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/epubjs@0.3.93/dist/epub.min.js"></script>
{% endblock extra_head %}

  {% block main_content %}
  <div class="space-y-5">
    {% include "./header.html" %}
    <div class="grid grid-cols-1 xl:grid-cols-6 gap-5">
      <div class="xl:col-span-4 space-y-4">
        {% include "./preview.html" %}
        {% include "./thumbnails.html" %}
        {% include "./linked_contents.html" %}
      </div>

      <div class="xl:col-span-2">
        <div class="xl:sticky xl:top-20 space-y-4">
          {% include "./ebook_info.html" %}
          {% include "./transcoding_log.html" %}
        </div>
      </div>
    </div>
  </div>
  {% endblock main_content %}

{% block script %} 
  {% include "./ebook_reader_script.html" %}
  {% include "./fullscreen_script.html" %}
{% endblock script %}