<tr>
    <td class="whitespace-nowrap pl-4 sm:pl-6 pr-3 py-4 text-sm font-medium text-gray-900">
      <div class="flex space-x-3 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>        
        <a href="#" title="{{ recording.title }}">{{ recording.title }}</a>
      </div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      {{ recording.duration }}
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% include "./status_badges.html" %}</td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      {% if recording.imported_at %}
        {{ recording.imported_at }}
      {% else %}
        ---
      {% endif %}
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <div class="inline-flex space-x-2 items-center">
        {% include "./dropdown.html" %}
      </div>
    </td>
</tr>