{% extends "layouts/base.html" %}

{% block html_class %}h-full bg-white{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
{% block extra_head %} {% endblock extra_head %}
{% endblock head%}

{% block body %}
<body class="h-full {% block body_class %} {% endblock %}">
  
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    
    {% block content %}
    {% endblock content %}
    
    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>
    {% block extra_body %}
    {% endblock extra_body %}
    
    <script>
      (function () {
        // TPStreams Primary Color
        const PRIMARY_COLOR = 'blue';

        const tailwindColors = {
          blue: { 50: '239 246 255', 100: '219 234 254', 200: '191 219 254', 300: '147 197 253', 400: '96 165 250', 500: '59 130 246', 600: '37 99 235', 700: '29 78 216', 800: '30 64 175', 900: '30 58 138' }
        };

        const color = tailwindColors[PRIMARY_COLOR];
        if (color) {
          Object.keys(color).forEach(shade => {
            document.documentElement.style.setProperty(`--color-primary-${shade}`, color[shade]);
          });
        }
      })();
    </script>

    {% block script %}{% endblock script %}
</body>
{% endblock body %}