{% extends "layouts/base.html" %}

{% block html_class %}h-full bg-white{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
{% block extra_head %} {% endblock extra_head %}
{% endblock head%}

{% block body %}
<body class="h-full {% block body_class %} {% endblock %}">
  
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    
    {% block content %}
    {% endblock content %}
    
    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>
    {% block script %} {% endblock script %}
</body>
{% endblock body %}