{% extends "layouts/tpstreams/base.html" %}

{% block html_class %}h-full bg-white{% endblock html_class %}
{% block body_class %}h-full{% endblock body_class %}

{% block content %}
  <div>
    <nav class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:px-6 lg:px-0">
        <div class="relative flex h-16 justify-between">
          <div class="flex flex-1 items-center justify-start">
            <div class="flex flex-shrink-0 items-center">
              <img class="h-8 w-auto" src="{{ '/img/streams_logo.svg'| url }}" alt="TpStreams">
            </div>
          </div>
          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 justify-end">
            {% include "partials/tpstreams/profile_dropdown.html" %}
          </div>
        </div>
      </div>
    </nav>
    <div class="lg:px-8">
      <div class="mx-auto flex flex-col max-w-7xl 2xl:max-w-screen-2xl">
        <main class="py-5 sm:py-10 relative">
          <div class="mx-auto max-w-7xl 2xl:max-w-screen-2xl sm:px-6 lg:px-0">
            {% block main_content %}
            {% endblock main_content %}
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock content %}
