{% extends "layouts/tpstreams/base.html" %}

{% block html_class %}h-full bg-white{% endblock html_class %}
{% block body_class %}h-full overflow-y-scroll{% endblock body_class %}

{% block content %}
<div x-data="{open: false}" @keydown.window.escape="open = false">
    {% include "partials/tpstreams/sidebar_mobile.html" %}
    {% include "partials/tpstreams/sidebar_desktop.html" %}
    <div class="lg:pl-64">
        {% include "partials/tpstreams/top_header.html" %}
        <main>
            <div class="mx-auto max-w-7xl 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
                <!-- Your content -->
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </main>
    </div>
</div>
{% endblock content %}
