{% extends "layouts/tpstreams/base.html" %}

{% block html_class %}h-full bg-white{% endblock html_class %}
{% block body_class %}h-full overflow-y-scroll{% endblock body_class %}

{% block content %}
<div x-data="{open: false}" @keydown.window.escape="open = false">
    {% include "partials/tpstreams/sidebar_mobile.html" %}
    {% include "partials/tpstreams/sidebar_desktop.html" %}
    <div class="lg:pl-64">

        <!-- header -->
        <div class="sticky top-0 z-40 lg:mx-auto lg:max-w-7xl 2xl:max-w-screen-2xl lg:px-8">
            <div
                class="flex h-16 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-0 lg:shadow-none">
                {% include "partials/tpstreams/mobile_sidebar_open_button.html" %}
                {% include "partials/tpstreams/header_separator.html" %}
                <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
                    {% include "partials/tpstreams/global_search.html" %}
                    {% include "partials/tpstreams/profile_dropdown.html" %}
                </div>
            </div>
        </div>

        <main>
            <div class="mx-auto max-w-7xl 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
                <!-- Your content -->
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </main>
    </div>
</div>
{% endblock content %}
