---
tags: tpsentinel
dashboard_view: My Review Queue
title: My review queue
date: 2026-10-10
---

{% extends "src/tpsentinel/layout/index.html" %}

{% block main_content %}
<div x-data="reviewQueue(window.REVIEW_QUEUE)" x-cloak @keydown.window="onKey($event)"
  class="flex flex-col lg:flex-row">
  {% include "./queue_list.html" %}

  <section x-ref="detail" class="flex-1 min-w-0 bg-gray-50 dark:bg-neutral-900">
    {% include "./case_detail.html" %}
    {% include "./all_caught_up.html" %}
  </section>

  {% include "./media_viewer.html" %}
  {% include "./undo_toast.html" %}
</div>
{% endblock main_content %}

{% block script %}
<script>
  window.REVIEW_QUEUE = {{ tpsentinel_review_queue | dump | safe }};
</script>
{% include "./script.html" %}
{% endblock script %}
