.vjs-theme-plyr {
    --vjs-theme-plyr--primary: #03a4eb;
    --vjs-theme-plyr--secondary: #fff;
    --vjs-theme-plyr--hover: #2fb6f0;
    --vjs-theme-plyr-tooltip-color: #4a5464;
    --vjs-theme-plyr-tooltip-radius: 5px;
    --vjs-theme-plyr-control-spacing: 10px;
}
@font-face {
    font-display: swap;
    font-family: Gordita;
    font-style: normal;
    font-weight: 300;
    src: url(https://static.tpstreams.com/static/fonts/player/gordita-light.woff2) format("woff2"), url(https://static.tpstreams.com/static/fonts/player/gordita-light.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Gordita;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.tpstreams.com/static/fonts/player/gordita-regular.woff2) format("woff2"), url(https://static.tpstreams.com/static/fonts/player/gordita-regular.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.tpstreams.com/static/fonts/player/gordita-medium.woff2) format("woff2"), url(https://static.tpstreams.com/static/fonts/player/gordita-medium.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Gordita;
    font-style: normal;
    font-weight: 600;
    src: url(https://static.tpstreams.com/static/fonts/player/gordita-bold.woff2) format("woff2"), url(https://static.tpstreams.com/static/fonts/player/gordita-bold.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Gordita;
    font-style: normal;
    font-weight: 900;
    src: url(https://static.tpstreams.com/static/fonts/player/gordita-black.woff2) format("woff2"), url(https://static.tpstreams.com/static/fonts/player/gordita-black.woff) format("woff");
}
.vjs-control:hover .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-play-progress {
    background-color: var(--vjs-theme-plyr--primary);
}
.vjs-theme-plyr .vjs-big-play-button,
.vjs-theme-plyr.vjs-big-play-button:focus,
.vjs-theme-plyr:hover .vjs-big-play-button {
    width: 50px;
    height: 50px;
    background: var(--vjs-theme-plyr--primary);
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    color: var(--vjs-theme-plyr--secondary);
    transition: background 0.4s 0.2s, box-shadow 0.4s;
}
.vjs-theme-plyr:hover .vjs-big-play-button {
    background: var(--vjs-theme-plyr--hover);
}
.vjs-theme-plyr .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1em;
}
.vjs-theme-plyr .vjs-play-progress:before {
    display: none;
}
.vjs-theme-plyr .vjs-progress-holder {
    border-radius: 0.2em;
    height: 0.5em;
    margin: 0;
}
.vjs-theme-plyr .vjs-load-progress,
.vjs-theme-plyr .vjs-load-progress div,
.vjs-theme-plyr .vjs-play-progress {
    border-radius: 0.2em;
}
.video-js .vjs-control-bar {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    background-color: #fff0;
}
.video-js.pause .vjs-control-bar,
.video-js:hover .vjs-control-bar {
    transform: translateY(-35%);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
    background-color: #fff0;
}
.video-js .vjs-settings-menu::after,
.vjs-theme-plyr .vjs-fullscreen-control::after,
.vjs-theme-plyr .vjs-picture-in-picture-control::after,
.vjs-theme-plyr .vjs-play-progress::after .video-js .vjs-mute-control::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--vjs-theme-plyr--secondary);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -5px;
}
.vjs-theme-plyr .vjs-play-control {
    font-size: 1.2em;
    position: relative;
}
.vjs-theme-plyr .vjs-play-control .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-play-control:hover .vjs-icon-placeholder:before {
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.2em;
    color: var(--vjs-theme-plyr--secondary);
    margin-left: 9px;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.55;
}
.vjs-theme-plyr .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-theme-plyr .vjs-mute-control:hover .vjs-icon-placeholder:before {
    color: var(--vjs-theme-plyr--secondary);
    transition: background-color 0.3s, color 0.3s;
}
.video-js .vjs-mute-control::before,
.video-js .vjs-settings-menu::before,
.vjs-theme-plyr .vjs-fullscreen-control::before,
.vjs-theme-plyr .vjs-picture-in-picture-control::before,
.vjs-theme-plyr .vjs-play-control::before {
    position: absolute;
    top: -2.75em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--vjs-theme-plyr--secondary);
    color: var(--vjs-theme-plyr-tooltip-color);
    padding: 0.5em;
    padding: calc(var(--vjs-theme-plyr-control-spacing) / 2) calc(var(--vjs-theme-plyr-control-spacing) / 2 * 1.5);
    border-radius: var(--vjs-theme-plyr-tooltip-radius);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-family: Gordita, Avenir, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.vjs-theme-plyr .vjs-play-control::before {
    content: "Pause";
}
.video-js.pause .vjs-play-control::before {
    content: "Play";
}
.vjs-theme-plyr .vjs-fullscreen-control::before {
    content: "Enter Full Screen";
    padding-right: 45px;
}
.video-js.full-screen .vjs-fullscreen-control::before {
    content: "Exit Full Screen";
    padding-right: 45px;
}
.video-js .vjs-mute-control::before {
    content: "Mute";
}
.video-js.mute .vjs-mute-control::before {
    content: "Unmute";
}
.vjs-theme-plyr .vjs-picture-in-picture-control::before {
    content: "PIP";
}
.video-js .vjs-mute-control::after,
.vjs-theme-plyr .vjs-fullscreen-control::after,
.vjs-theme-plyr .vjs-picture-in-picture-control::after,
.vjs-theme-plyr .vjs-play-control::after {
    content: "";
    position: absolute;
    top: -1em;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff0 #fff0 var(--vjs-theme-plyr--secondary) #fff0;
    transition: opacity 0.3s;
    opacity: 0;
    transform: rotate(180deg);
}
.vjs-progress-holder .vjs-time-tooltip:before,
.vjs-time-tooltip:before {
    border-top-width: 10px;
    border-bottom-width: 10px;
}
.video-js .vjs-mute-control:hover::after,
.video-js .vjs-mute-control:hover::before,
.vjs-theme-plyr .vjs-fullscreen-control:hover::after,
.vjs-theme-plyr .vjs-fullscreen-control:hover::before,
.vjs-theme-plyr .vjs-picture-in-picture-control:hover::after,
.vjs-theme-plyr .vjs-picture-in-picture-control:hover::before,
.vjs-theme-plyr .vjs-play-control:hover::after,
.vjs-theme-plyr .vjs-play-control:hover::before {
    opacity: 1;
}
.vjs-control:hover .vjs-icon-placeholder:before {
    border-radius: 2px;
}
.video-js .vjs-settings-menu.vjs-toogle-btn button.vjs-button span.vjs-icon-placeholder:before {
    background-color: transparent !important;
}
.vjs-menu li.vjs-menu-title {
    color: #0b0c0c;
    transition: color 0.3s;
}
.vjs-menu .vjs-menu-content {
    background-color: var(--vjs-theme-plyr--secondary) !important;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.video-js .vjs-settings-menu .vjs-menu li,
.vjs-menu li {
    color: #0b0c0c;
    border-radius: 4px;
    transition: color 0.3s;
}
.video-js .vjs-settings-menu:hover .vjs-menu li:hover,
.vjs-menu li.vjs-menu-item:hover,
.vjs-menu li.vjs-selected:hover {
    color: var(--vjs-theme-plyr--secondary);
    background-color: var(--vjs-theme-plyr--primary);
    transition: background-color 0.3s, color 0.3s;
}
.video-js .vjs-settings-menu li.vjs-menu-item.vjs-selected,
.vjs-menu li.vjs-selected {
    color: var(--vjs-theme-plyr--primary);
    transition: color 0.3s;
}
.video-js ul.vjs-sm-top-level-header {
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.video-js .vjs-sm-top-level-header,
.video-js li.setting-menu-header {
    background: var(--vjs-theme-plyr--secondary) !important;
    transition: background-color 0.3s;
}
.video-js li.setting-menu-header:hover {
    background: var(--vjs-theme-plyr--primary) !important;
    transition: background-color 0.3s;
}
.vjs-progress-holder .vjs-time-tooltip {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(255 255 255 / 0.75) !important;
    border-radius: 4px;
    transform: scale(1.5) translateY(-20px);
}
.vjs-progress-holder .vjs-time-tooltip:before {
    background: var(--vjs-theme-plyr--secondary) !important;
}
.video-js .vjs-volume-panel {
    width: 30px;
    display: flex;
    align-items: center;
}
.video-js .vjs-volume-bar {
    height: 4px;
    border-radius: 10px;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative;
    flex-grow: 1;
    margin-right: 5px;
}
.video-js .vjs-volume-level {
    background-color: var(--vjs-theme-plyr--primary);
    border-radius: 10px;
    height: 100%;
}
.video-js .vjs-volume-handle {
    background-color: var(--vjs-theme-plyr--secondary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-js .vjs-volume-control.vjs-slider-horizontal {
    display: flex;
    align-items: center;
}
.vjs-control-bar {
    background-color: rgb(0 0 0 / 0.1);
}
.video-js.pause .vjs-control-bar,
.video-js:hover .vjs-control-bar {
    background: linear-gradient(#fff0, rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.1), #fff0);
}
.vjs-time-tooltip.vjs-time-tooltip-2 {
    display: none !important;
}
.vjs-icon-circle {
    margin-top: auto;
}
.video-js .vjs-volume-panel {
    display: flex !important;
    align-items: center;
    width: auto !important;
}
.video-js .vjs-volume-panel .vjs-volume-control {
    transition: none !important;
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
    width: auto !important;
}
