{% extends "layouts/student_base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ '/node_modules/apexcharts/dist/apexcharts.css' | url }}">
{% endblock extra_head %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock body_class %}
{% block content %}
  <div x-data="mindsetInsightsComponent()" x-init="init()" class="py-5 max-w-7xl mx-auto lg:px-8 px-4 space-y-5">
    <div>
      {% include "./breadcrumbs.html" %}
      {% include "./header.html" %}
    </div>
    {% include "./pre_exam_reflections.html" %}
    {% include "./post_exam_reflections.html" %}
    <div x-show="!loading.errors && sections.length > 1">
      {% include "./section_tab.html" %}
    </div>
    {% include "./error_reason_summary.html" %}
    {% include "./steps_to_improve.html" %}
  </div>
{% endblock content %}

{% block script %}
  {% include "./script/apex_chart_script.html" %}
  {% include "./script/mindset_insights_component.html" %}
{% endblock script %}