---
tags: testpress
student_view : Landing Page
date: 2000-10-01
new_student_page: true
---

{% extends "src/testpress/layout/base.html" %}




{% block content %}
<body class="dark:bg-neutral-900">
     {% include "./header.html"%}
  <main id="content">
     {% include "./banner.html"%}
      {% include "./courses.html"%}
  </main>
 {% include "./footer.html"%}
</body>
{% endblock content %}

{% block extra_scripts %}
<script src="https://preline.co/assets/vendor/@floating-ui/core/dist/floating-ui.core.umd.min.js"></script>
<script src="https://preline.co/assets/vendor/@floating-ui/dom/dist/floating-ui.dom.umd.min.js"></script>
<!-- Required plugins -->
<script src="https://preline.co/assets/vendor/preline/dist/index.js?v=3.1.0"></script>
<!-- Clipboard -->
<script src="https://preline.co/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="https://preline.co/assets/js/hs-copy-clipboard-helper.js"></script>
<link rel="stylesheet" href="https://preline.co/assets/css/main.min.css?v=3.1.0">
{% endblock extra_scripts %}