---
tags: testpress
student_view : My Bookmarks
date: 2026-04-21
new_student_page: true
---

{% extends "src/testpress/layout/student_layout.html" %}
{% block body_class %}bg-white dark:bg-neutral-900 min-h-[calc(100vh-4rem)]{% endblock body_class %}
{% block main_class %}min-h-[90vh] space-y-5{% endblock main_class %}
{% block main_content %}
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full overflow-hidden">
  ```
-->
<div class="flex h-full">

  <div class="flex min-w-0 flex-1 flex-col overflow-hidden">
    <div class="lg:hidden">
      <div class="flex items-center justify-between border-b border-gray-200 bg-gray-50 px-4 py-1.5">
        <div>
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=pink&shade=500" alt="Your Company" class="h-8 w-auto" />
        </div>
        <div>
          <button type="button" class="-mr-3 inline-flex size-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:ring-2 focus:ring-pink-600 focus:outline-hidden focus:ring-inset">
            <span class="sr-only">Open sidebar</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="relative z-20 flex flex-1 overflow-visible">
      <main class="relative z-0 flex-1 overflow-y-auto focus:outline-hidden xl:order-last">

      </main>
      <aside class="hidden w-96 shrink-0 border-r border-gray-200 xl:order-first xl:flex xl:flex-col relative z-20 h-[calc(100vh-4rem)] sticky top-16">
        <div class="px-6 pt-6 pb-4 flex justify-between items-center sticky top-0 bg-white dark:bg-neutral-900 z-10">
          <h2 class="text-lg font-medium text-gray-900 dark:text-neutral-200">Folders</h2>
          
          <!-- Add Folder Tooltip -->
          <div class="hs-tooltip [--placement:bottom] inline-block">
            <button type="button" class="hs-tooltip-toggle flex justify-center items-center size-7 text-sm text-gray-500 hover:bg-gray-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-4"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
            </button>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-[100] py-1 px-2 bg-white border border-gray-200 text-xs font-medium text-gray-800 rounded shadow-sm dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300" role="tooltip">
              Add folder
            </span>
          </div>
        </div>
        <!-- Directory list (Scrollbar visible only on hover) -->
        <nav aria-label="Directory" class="min-h-0 flex-1 overflow-y-auto [&::-webkit-scrollbar]:w-0 hover:[&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-thumb]:rounded-full dark:[&::-webkit-scrollbar-thumb]:bg-neutral-700 transition-all">
          <div class="relative">
            <div class="border-t border-b border-gray-200 dark:border-neutral-800">
            </div>
            <ul role="list" class="relative z-0 divide-y divide-gray-200">
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Leslie Abbott</p>
                      <p class="truncate text-sm text-gray-500">Co-Founder / CEO</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Hector Adams</p>
                      <p class="truncate text-sm text-gray-500">VP, Marketing</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Blake Alexander</p>
                      <p class="truncate text-sm text-gray-500">Account Coordinator</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Fabricio Andrews</p>
                      <p class="truncate text-sm text-gray-500">Senior Art Director</p>
                    </a>
                  </div>
                </div>
              </li>
                            <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1501031170107-cfd33f0cbdcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Angela Beaver</p>
                      <p class="truncate text-sm text-gray-500">Chief Strategy Officer</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1506980595904-70325b7fdd90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Yvette Blanchard</p>
                      <p class="truncate text-sm text-gray-500">Studio Artist</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1513910367299-bce8d8a0ebf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Lawrence Brooks</p>
                      <p class="truncate text-sm text-gray-500">Content Specialist</p>
                    </a>
                  </div>
                </div>
              </li>
                            <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Jeffrey Clark</p>
                      <p class="truncate text-sm text-gray-500">Senior Art Director</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Kathryn Cooper</p>
                      <p class="truncate text-sm text-gray-500">Associate Creative Director</p>
                    </a>
                  </div>
                </div>
              </li>
                            <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1509783236416-c9ad59bae472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Alicia Edwards</p>
                      <p class="truncate text-sm text-gray-500">Junior Copywriter</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Benjamin Emerson</p>
                      <p class="truncate text-sm text-gray-500">Director, Print Operations</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Jillian Erics</p>
                      <p class="truncate text-sm text-gray-500">Designer</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-pink-500 focus-within:ring-inset hover:bg-gray-50">
                  <div class="shrink-0">
                    <img src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full" />
                  </div>
                  <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-hidden">
                      <!-- Extend touch target to entire panel -->
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      <p class="text-sm font-medium text-gray-900">Chelsea Evans</p>
                      <p class="truncate text-sm text-gray-500">Human Resources Manager</p>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </aside>
    </div>
  </div>
</div>

{% endblock main_content %}

{% block script %}
{% endblock script %}
