
<!-- Timeline -->
<div class="bg-white p-6">
  <!-- Heading -->
  {% for date, events in event_logs %}
  <div class="ps-2 my-2 first:mt-0">
    <h3 class="text-xs font-medium uppercase text-gray-500">
      {{ date }}
    </h3>
  </div>
  <!-- End Heading -->
  {% for log in events %}
  <!-- Item -->
  <div class="flex gap-x-3">
    <!-- Icon -->
    <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-0.5 after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-7 flex justify-center items-center">
        <div class="size-2 rounded-full bg-gray-400"></div>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pt-0.5 pb-8">
      <h3 class="text-sm text-gray-700">
        {% if log.event_key == "user_registered" %}
            <strong class="font-semibold text-gray-900">{{ log.details["user_email"] or "Anonymous" }}</strong> registered from 
            <strong class="font-semibold text-gray-900">{{ log.details["registered_from"] or "unknown location" }}</strong>.
          {% elif log.event_key == "course_deleted" %}
            <strong class="font-semibold text-gray-900">{{ log.details["triggered_by"] or "Anonymous" }}</strong> deleted the course titled 
            <strong class="font-semibold text-gray-900">{{ log.details["course_name"] or "unknown course" }}</strong>.
          {% elif log.event_key == "failed_login" %}
            <strong class="font-semibold text-gray-900">{{ log.details["user_email"] or "Anonymous" }}</strong> attempted to log in multiple times from IP 
            <strong class="font-semibold text-gray-900">{{ log.details["ip"] or "unknown IP" }}</strong>.
          {% elif log.event_key == "sensitive_data_export" %}
            <strong class="font-semibold text-gray-900">{{ log.details["exported_by"] or "Anonymous" }}</strong> exported sensitive data:
            <strong class="font-semibold text-gray-900"><a href="{{ log.details["file_url"] }}" class="text-sm text-emerald-600 font-medium decoration-2 hover:underline focus:outline-none focus:underline">{{ log.details["file_name"] }}</a></strong> from IP
            <strong class="font-semibold text-gray-900">{{ log.details["ip"] or "unknown IP" }}</strong>.
          {% elif log.event_key == "course_updated" %}
            <strong class="font-semibold text-gray-900">{{ log.details["updated_by"] or "Anonymous" }}</strong> updated the course titled 
            <strong class="font-semibold text-gray-900">{{ log.details["course_name"] or "unknown course" }}</strong>.
          {% elif log.event_key == "staff_privilege_modified" %}
            <strong class="font-semibold text-gray-900">{{ log.details["modified_by"] or "Anonymous" }}</strong> modified the privileges of 
            <strong class="font-semibold text-gray-900">{{ log.details["staff_name"] or "unknown staff" }}</strong>.
          {% elif log.event_key == "course_created" %}
            <strong class="font-semibold text-gray-900">{{ log.details["triggered_by"] or "Anonymous" }}</strong> created the course titled 
            <strong class="font-semibold text-gray-900">{{ log.details["course_name"] or "unknown course" }}</strong>.
          {% elif log.event_key == "admin_login" %}
            <strong class="font-semibold text-gray-900">{{ log.details["admin_name"] or "Anonymous" }}</strong> logged in from IP 
            <strong class="font-semibold text-gray-900">{{ log.details["ip"] or "unknown IP" }}</strong>.
          {% elif log.event_key == "account_deactivated" %}
            <strong class="font-semibold text-gray-900">{{ log.details["triggered_by"] or "Anonymous" }}</strong> deactivated the account of 
            <strong class="font-semibold text-gray-900">{{ log.details["deactivated_user"] or "unknown user" }}</strong>.
          {% elif log.event_key == "super_admin_added" %}
            <strong class="font-semibold text-gray-900">{{ log.details["added_by"] or "Anonymous" }}</strong> added a new super admin named 
            <strong class="font-semibold text-gray-900">{{ log.details["super_admin_name"] or "unknown name" }}</strong>.
          {% else %}
            <strong class="font-semibold text-gray-900">{{ log.details["triggered_by"] or "Anonymous" }}</strong> performed an action on the system.
          {% endif %}
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        {% for key, value in log.details %}
        <span class="flex">
          <span class="inline-flex items-center gap-x-0.5 rounded-s-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
            {{key}}
         </span>
         <a href="{{'/testpress/events/list/'}}?{{key}}={{value}}" class="inline-flex items-center gap-x-0.5 rounded-e-md px-2 py-1 text-xs font-medium text-emerald-600 ring-1 ring-inset ring-gray-500/10">
           {{value}}
         </a>
        </span>
        {% endfor %}
      </div>
    </div>
    <!-- End Right Content -->
    <time datetime="2024-11-25T10:00:00" class="flex-none py-0.5 text-xs/5 text-gray-500">{{log.time}}</time>
  </div>
  <!-- End Item -->
   {% endfor %}
   {% endfor %}

  <!-- Item -->
  <div class="ps-[7px] flex gap-x-3">
    <button type="button" class="hs-collapse-toggle hs-collapse-open:hidden text-start inline-flex items-center gap-x-1 text-sm text-emerald-600 font-medium decoration-2 hover:underline focus:outline-none focus:underline" id="hs-timeline-collapse-content" aria-expanded="false" aria-controls="hs-timeline-collapse" data-hs-collapse="#hs-timeline-collapse">
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"></path>
      </svg>
      Show older
    </button>
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->