<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3 lg:gap-5">
  {% for product in products %}
  <a href="{{ '/testpress/product_detail' | url }}">
  <div class="flex flex-col justify-between p-1 bg-white border border-gray-200 rounded-2xl dark:bg-neutral-900 dark:border-neutral-700">
    
    <!-- Product Image -->
    <div class="relative w-full group">
        <img 
          class="bg-gray-100 w-full object-cover rounded-xl dark:bg-neutral-800 group-hover:scale-105 transition-transform duration-500 ease-in-out"
          src="{{ product.image }}"
          alt="Store Image"
        >
    </div>

    <!-- Product Info -->
    <div class="p-4 space-y-3">
      
      <!-- Name + Description Tooltip -->
      <div class="space-y-2">
        <div class="hs-tooltip [--placement:bottom] inline">
          <div class="text-sm flex items-center space-x-2">
            
            <!-- Product Name -->
            <div class="hs-tooltip inline-block max-w-full">
              <h2 class="hs-tooltip-toggle font-medium text-gray-800 dark:text-neutral-200 line-clamp-2 max-w-full">
                {{ product.name }}
              </h2>

              <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 max-w-72 hs-tooltip-shown:visible opacity-0 transition-opacity invisible absolute z-[99] py-1 px-2 bg-gray-900 text-sm font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700">
                {{ product.name }}
              </span>
            </div>

            <!-- Description tooltip -->
            {% if product.description %}
            <div class="hs-tooltip [--trigger:hover] [--placement:bottom] inline-block">
              <button type="button" class="hs-tooltip-toggle inline">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  fill="none"
                  viewBox="0 0 24 24" 
                  stroke-width="1.5"
                  stroke="currentColor" 
                  class="w-4 h-4 text-gray-400"
                >
                  <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                    d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                  />
                </svg>

                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 absolute invisible text-left z-[99] w-72 py-1 px-2 bg-gray-900 text-sm text-white rounded-md shadow-md hidden dark:bg-neutral-700">
                  {{ product.description }}
                </span>
              </button>
            </div>
            {% endif %}

          </div>
        </div>

        <!-- Chapters + Contents -->
        <ul class="text-sm text-gray-500 flex space-x-2">
          <li>{{ product.chapters }} chapters</li>
          <li>·</li>
          <li>{{ product.contents }} contents</li>
        </ul>
      </div>

      <!-- Price -->
      <div class="flex items-center space-x-2 mt-2">
        <div class="text-gray-900 font-semibold">{{ product.price }}</div>
        <div class="text-sm text-gray-500 line-through">{{ product.anchor_price }}</div>
      </div>
    </div>

  </div>
  </a>
  {% endfor %}
</div>
