---
permalink: tpstreams/settings/staff_management/
tags: staff
---

{% extends "../base.html" %}

{% block settings %}

<div class="mt-5">
    {% include "./header.html" %}
    <div class="p-5 space-y-4 flex flex-col bg-white border-gray-200 shadow-2xs rounded-xl mt-5">
        <!-- Table Content -->
        <div class="overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
            <div class="min-w-full inline-block align-middle">
                <!-- Table -->
                <table class="min-w-full divide-y divide-gray-200">
                    {% include "./table_header.html" %}
    
                    <tbody class="divide-y divide-gray-200">
                        {% include "./table_item.html" %}
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
        </div>
        {% include "./pagination.html" %}
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://preline.co/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="https://preline.co/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="https://preline.co/assets/js/hs-copy-clipboard-helper.js"></script>
{% endblock script %}