<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function razorpayPayment() {
    const urlParams = new URLSearchParams(window.location.search);
    return {
      name: 'Test User',
      email: 'test@testing.in',
      contact: '1237685461',
      amount: '', // in INR
      plan_id: urlParams.get('plan_id') || null,
      isSubscribed: urlParams.get('is_subscribed') === 'true',

      pay(amount,plan_id) {
        this.amount = amount;
        const options = {
          key: "rzp_test_JGuv2lGbj2aCvl",
          amount: parseInt(this.amount) * 100, // Convert INR to paise
          currency: "INR",
          name: "Test App",
          description: "Test Plan Payment",
          prefill: {
            name: this.name,
            email: this.email,
            contact: this.contact
          },
          handler: function (response) {
            const params = new URLSearchParams({
            plan_id: plan_id || '',
            is_subscribed: 'true'
          });
          window.location.search = params.toString();
          },
          theme: {
            color: "#6366f1" // Indigo
          }
        };

        const rzp = new Razorpay(options);
        rzp.open();
      }
    };
  }
</script>
