<article>
  <div class="header">
    <h3>Technical Analysis:</h3>
  </div>
  
  <div class="question">
    <div
      class="question-container incorrect"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION 1</td>
          </tr>
        </table>
      </div>
      <div class="question_number">What is the name of the messaging app known for its disappearing messages?</div>
      <div class="options">
        
        <div>
          <table>
            <tr>
              <td>a) WhatsApp</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>b) Telegram</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>c) Signal</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>d) Wickr Me</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> D
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> A
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">4</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">28.75</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">28.75</dd>
      </div>
    </div>
  </div>
  
  <div class="question">
    <div
      class="question-container correct"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION 2</td>
          </tr>
        </table>
      </div>
      <div class="question_number">The concept of &#39;blockchain&#39; is the foundation for:</div>
      <div class="options">
        
        <div>
          <table>
            <tr>
              <td>a) Decentralized digital ledgers</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>b) Secure data encryption protocols</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>c) Cloud-based storage solutions</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>d) High-performance computing systems</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> A
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> A
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">5</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">2.04</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">2.04</dd>
      </div>
    </div>
  </div>
  
  <div class="question">
    <div
      class="question-container correct"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION 3</td>
          </tr>
        </table>
      </div>
      <div class="question_number">Who co-founded video streaming giant Netflix?</div>
      <div class="options">
        
        <div>
          <table>
            <tr>
              <td>a) Jeff Bezos</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>b) Reed Hastings &amp; Marc Randolph</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>c) Elon Musk</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>d) Steve Jobs</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> B
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> B
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">2</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">2.2</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">2.09</dd>
      </div>
    </div>
  </div>
  
  <div class="question">
    <div
      class="question-container correct"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION 4</td>
          </tr>
        </table>
      </div>
      <div class="question_number">What iconic tech company was founded in a garage by Steve Jobs and Steve Wozniak?</div>
      <div class="options">
        
        <div>
          <table>
            <tr>
              <td>a) Microsoft</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>b) Facebook</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>c) Google</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>d) Apple</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> D
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> D
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">6</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">4</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">2</dd>
      </div>
    </div>
  </div>
  
  <div class="question">
    <div
      class="question-container correct"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION 5</td>
          </tr>
        </table>
      </div>
      <div class="question_number">A major criticism of Silicon Valley companies is their:</div>
      <div class="options">
        
        <div>
          <table>
            <tr>
              <td>a) Commitment to environmental sustainability</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>b) Focus on user privacy</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>c) Investment in renewable energy sources</td>
            </tr>
          </table>
        </div>
        
        <div>
          <table>
            <tr>
              <td>d) Emphasis on workplace diversity and inclusion</td>
            </tr>
          </table>
        </div>
        
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> B
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> B
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">4</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">3</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">2</dd>
      </div>
    </div>
  </div>
  
</article>
