<article>
    <div class="header">
      <h3>Overall Performance Analysis:</h3>
    </div>
    <div class="overall">
      <div>
        <table class="overall-table">
          <tbody>
            <tr>
              <td>Score</td>
              <td>{{ analytics.total.score }}</td>
            </tr>
            <tr>
              <td>Total Questions</td>
              <td>{{ analytics.total.total_questions }}</td>
            </tr>
            <tr>
              <td>Correct</td>
              <td>{{ analytics.total.correct }}</td>
            </tr>
            <tr>
              <td>Incorrect</td>
              <td>{{ analytics.total.incorrect }}</td>
            </tr>
            <tr>
              <td>Unanswered</td>
              <td>{{ analytics.total.unanswered }}</td>
            </tr>
            <tr>
              <td>Percentage</td>
              <td>{{ analytics.total.percentage }}</td>
            </tr>
            <tr>
              <td>Total Duration</td>
              <td>{{ analytics.total.total_duration }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="analytics_image">
        <img
          src="/img/report/total_performance_pie_chart.png"
          alt="Section Analytics"
          class="w-full h-auto"
          height="auto"
        />
      </div>
    </div>
    <div>
      <div class="analytics_image">
        <img
          src="/img/report/question_level_analysis_chart.png"
          alt="Question Level Analysis"
          class="w-full h-auto"
          height="auto"
        />
      </div>
    </div>
  </article>