<article id="overview">
  <div class="container">
    <div class="header">
      <h3>Applicant Information</h3>
    </div>
    <div class="content">
      <dl>
        <div class="detail-item">
          <dt>Full name</dt>
          <dd>Sam</dd>
        </div>
        <div class="detail-item">
          <dt>Date of birth</dt>
          <dd>Aug 1, 1995</dd>
        </div>
        <div class="detail-item">
          <dt>Email address</dt>
          <dd>margotfoster@example.com</dd>
        </div>
        <div class="detail-item">
          <dt>Contact No</dt>
          <dd>9630823721</dd>
        </div>
        <div class="detail-item">
          <dt>Country</dt>
          <dd>United States of America</dd>
        </div>
        <div class="detail-item">
          <dt>Gender</dt>
          <dd>Male</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="section">
    <div class="header">
      <h3>Overall Performance Analysis:</h3>

      <div class="analytics">
        <div class="progress-bar-container">
          <div class="progress-bar">74</div>
        </div>
        <p>Values shown in the above chart are percentages</p>
        <div class="legend">
          <span class="low">Low (0 - 33)</span>
          <span class="moderate">Moderate (34 - 68)</span>
          <span class="high">High (69 - 100)</span>
        </div>
      </div>
    </div>
  </div>
</article>
