<article>
  <div class="header">
    <h3>Technical Analysis:</h3>
  </div>
  {% for usa in analytics.questions %}
  <div class="question">
    <div
      class="question-container {% if usa.is_correct %}correct{% else %}incorrect{% endif %}"
    >
      <div>
        <table>
          <tr>
            <td class="bold">QUESTION {{ loop.index }}</td>
          </tr>
        </table>
      </div>
      <div class="question_number">{{ usa.question }}</div>
      <div class="options">
        {% for option in usa.options %}
        <div>
          <table>
            <tr>
              <td>{{ loop.index0|toLetter }}) {{ option.text }}</td>
            </tr>
          </table>
        </div>
        {% endfor %}
      </div>
      <div>
        <table>
          <tr>
            <td>
              <span class="bold">Correct Answer :</span> {{ usa.correct_answer
              }}
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Your Answer:</span> {{ usa.your_answer }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="stats-container">
      <div class="stat">
        <dt class="stat-title">Marks</dt>
        <dd class="stat-value">1</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Your time</dt>
        <dd class="stat-value">{{ usa.time_taken }}</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Average time</dt>
        <dd class="stat-value">{{ usa.average_time }}</dd>
      </div>
      <div class="stat">
        <dt class="stat-title">Best time</dt>
        <dd class="stat-value">{{ usa.best_time }}</dd>
      </div>
    </div>
  </div>
  {% endfor %}
</article>
