<article>
  <div class="header">
    <h3>Section Analytics</h3>
  </div>
  <div>
    <table class="analytics-table">
      <thead>
        <tr>
          <th>Section Name</th>
          <th>Total Questions</th>
          <th>Correct</th>
          <th>Incorrect</th>
          <th>Unanswered</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for section in analytics.section_analytics %}
        <tr>
          <td>{{ section.section_name }}</td>
          <td>{{ section.total_questions }}</td>
          <td>{{ section.correct }}</td>
          <td>{{ section.incorrect }}</td>
          <td>{{ section.unanswered }}</td>
          <td>{{ section.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="analytics_image">
      <img
        src="/img/report/section_analytics_chart.png"
        alt="Section Analytics"
        class="w-full h-auto"
        height="auto"
      />
    </div>
  </div>
</article>
