<div class="-mb-px flex justify-end w-full space-x-8 h-16 mr-4 px-1">
    <div class="relative inline-block text-left mr-1 py-5 px-1 text-sm font-medium">
      <!-- Button to toggle the dropdown -->
      <div>
        <button 
          @click="isOpenContentTypeOption = !isOpenContentTypeOption" 
          type="button" 
          class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" 
          id="menu-button" 
          aria-expanded="true" 
          aria-haspopup="true" 
          :aria-label="contentType" 
        >
          <span x-text="contentType" class="flex items-center whitespace-nowrap text-sm font-medium hover:text-emerald-600"></span>
          <svg 
            class="-mr-1 h-5 w-5 text-gray-400" 
            viewBox="0 0 20 20" 
            fill="currentColor" 
            aria-hidden="true"
          >
            <path 
              fill-rule="evenodd" 
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" 
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
  
      <!-- Dropdown menu -->
      <div 
        x-cloak 
        x-show="isOpenContentTypeOption" 
        @click.away="isOpenContentTypeOption = false" 
        class="absolute z-50 md:right-0 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
        role="menu" 
        aria-orientation="vertical" 
        aria-labelledby="menu-button" 
        tabindex="-1"
      >
        <div class="py-1" role="none" @click="isOpenContentTypeOption = !isOpenContentTypeOption">

    <!-- Dropdown option -->
    <a 
     @click="contentType = 'All'" ]
     :hx-get="`${content_filter_url}/`" 
     :hx-target="targetElement" 
     hx-swap="innerHTML" 
     class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
     role="menuitem" 
     tabindex="-1" 
     id="menu-item-0"
    >
     All
    </a>
    <a 
      @click="contentType = 'Exam'" 
      :hx-get="`${content_filter_url}/?content_type=1`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Exam
    </a>
    <a 
      @click="contentType = 'Quiz'" 
      :hx-get="`${content_filter_url}/?content_type=2`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Quiz
    </a>
    <a 
      @click="contentType = 'Video'" 
      :hx-get="`${content_filter_url}/?content_type=3`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Video
    </a>
    <a 
      @click="contentType = 'Attachment'" 
      :hx-get="`${content_filter_url}/?content_type=4`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Attachment
    </a>
    <a 
      @click="contentType = 'Notes'" 
      :hx-get="`${content_filter_url}/?content_type=5`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Notes
    </a>
    <a 
      @click="contentType = 'Video Conference'" 
      :hx-get="`${content_filter_url}/?content_type=7`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Video Conference
    </a>
    <a 
      @click="contentType = 'Live Stream'" 
      :hx-get="`${content_filter_url}/?content_type=8`" 
      :hx-target="targetElement" 
      hx-swap="innerHTML" 
      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer" 
      role="menuitem" 
      tabindex="-1" 
      id="menu-item-0"
    >
      Live Stream
    </a>
</div>
      </div>
    </div>
  </div>
  