---
tags: testpress
title: OAuth consent
date: 2026-08-19
permalink: /testpress/oauth_consent/
---

{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen{% endblock %}
{% block content %}
  {% set client_name = "Cursor" %}
  {% set client_logo = "/img/oauth_consent/cursor.svg" | url %}
  {% set institute_name = "Testpress" %}
  {% set institute_logo = "/img/oauth_consent/testpress-mark.svg" | url %}
  {% set username = "anita.s" %}
  {% include "./includes/consent_screen.html" %}
{% endblock content %}
