---
tags: testpress
title: OAuth consent (without logo)
date: 2026-08-19
permalink: /testpress/oauth_consent/without_logo/
---

{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen{% endblock %}
{% block content %}
  {% set client_name = "Cursor" %}
  {% set client_logo = "/img/oauth_consent/cursor.svg" | url %}
  {% set institute_name = "Brilliant Pala" %}
  {% set institute_logo = "" %}
  {% set username = "anita.s" %}
  {% include "./includes/consent_screen.html" %}
{% endblock content %}
