{% macro input(id, label, type="text", placeholder="", required=false) %}
<div>
  <label for="{{ id }}" class="block mb-2 text-sm font-medium text-gray-800 dark:text-neutral-200">
    {{ label }}
  </label>
  <input type="{{ type }}" id="{{ id }}" {% if required %}required{% endif %}
    class="py-2 sm:py-2.5 px-3 block w-full bg-background border border-input rounded-lg sm:text-sm text-foreground placeholder:text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
    placeholder="{{ placeholder }}">
</div>
{% endmacro %}
