{% macro input(id, label, type="text", placeholder="", required=false) %}
<div>
  <label for="{{ id }}" class="block mb-2 text-sm font-medium text-gray-800 dark:text-neutral-200">
    {{ label }}
  </label>
  <input type="{{ type }}" id="{{ id }}" {% if required %}required{% endif %}
    class="py-2 sm:py-2.5 px-3 block w-full bg-white dark:bg-neutral-800 border border-gray-200 dark:border-neutral-700 rounded-lg sm:text-sm text-gray-800 dark:text-neutral-200 placeholder:text-gray-400 dark:placeholder:text-neutral-500 focus:border-primary-600 focus:ring-primary-600 focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none" 
    placeholder="{{ placeholder }}">
</div>
{% endmacro %}
