{% macro tooltip(text, open_var="open", hover_var="tooltipOpen") %}
<div
  x-show="!{{ open_var }} && {{ hover_var }}"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="opacity-0 scale-95 translate-x-1"
  x-transition:enter-end="opacity-100 scale-100 translate-x-0"
  x-transition:leave="transition ease-in duration-75"
  x-transition:leave-start="opacity-100 scale-100 translate-x-0"
  x-transition:leave-end="opacity-0 scale-95 translate-x-1"
  class="z-50 absolute left-full top-1/2 -translate-y-1/2 ml-3 inline-flex w-fit max-w-xs origin-left items-center gap-1.5 rounded-md bg-foreground px-3 py-1.5 text-xs text-background whitespace-nowrap pointer-events-none shadow-md"
  x-cloak
>
  <div class="z-50 size-2.5 absolute top-1/2 -left-1 translate-y-[calc(-50%-2px)] rotate-45 rounded-[2px] bg-foreground fill-foreground"></div>
  {{ text }}
</div>
{% endmacro %}
