<div class="mt-4 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full table-fixed divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="relative w-12 px-6 sm:w-16 sm:px-8">
                <input type="checkbox"
                  class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500 sm:left-6" />
              </th>
              <th scope="col" class="min-w-[12rem] py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">
                Name
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                Can edit contents
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                Can assign staffs
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                Can access sales page
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                Can clone
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <!-- Selected: "bg-gray-50" -->
            {% for staff in staffs %}
            <tr>
              <td class="relative w-12 px-6 sm:w-16 sm:px-8">
                <input type="checkbox" @click="toggleSelection('{{staff.name}}')"
                  :value="selectedStaffs.includes('{{staff.name}}')"
                  class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500 sm:left-6" />
              </td>
              <!-- Selected: "text-green-600", Not Selected: "text-gray-900" -->
              <td
                :class="{'text-green-600': selectedStaffs.includes('{{staff.name}}'), 'text-gray-900': !selectedStaffs.includes('{{staff.name}}')}"
                class="whitespace-nowrap py-4 pr-3 text-sm font-medium">
                {{ staff.name }}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {% set isEnabled = staff.edit_contents %} {% include
                "./toggle.html" %}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {% set isEnabled = staff.assign_faculty %} {% include
                "./toggle.html" %}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {% set isEnabled = staff.edit_pricing %} {% include
                "./toggle.html" %}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {% set isEnabled = staff.can_clone %} {% include
                "./toggle.html" %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-8">
        {% include "partials/pagination.html" %}
      </div>
    </div>
  </div>
</div>