{% extends "layouts/admin_base.html" %}

{% block html_class %}h-full bg-white{% endblock %}

{% block content %}
<div class="flex min-h-full max-w-3xl xl:max-w-6xl mx-auto mt-1">
  <div class="flex w-0 flex-1 flex-col">
    <div class="bg-white border-b border-gray-200 flex h-16 items-center sticky top-0 z-10">
    {% include "./includes/detail_pagination.html"%}
    </div>
    <main class="flex-1"  x-data="{showApproveCommentModal:false,showMarkAsSpamModal:false,markedAsSpam:false,approved:false,is_blocked:false,block_user_modal:false}">
      <div class="py-8 xl:py-10">
        <div class="mx-auto max-w-3xl px-4 xl:grid xl:max-w-6xl xl:grid-cols-3">
          <div class="xl:col-span-2 xl:border-r xl:border-gray-200 xl:pr-8">
            <div>
              <div>
                {% include "./includes/detail_heading.html" %}
                <!-- Mobile aside  -->
                <aside class="mt-6 xl:hidden">
                  {% include "./includes/detail_info.html" %}
                  {% include "./includes/detail_reported_types.html" %}
                </aside>
                <!-- -->
                  <div class="py-3 xl:pt-6 xl:pb-0">
                  <h2 class="sr-only">Reported Forum Posts</h2>
                  <div class="flex bg-white sm:rounded-lg3">
                    <article class="grow break-words">
                         {% include "./includes/detail_content.html"%}
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            {% include "./includes/detail_reportees_list.html"%}
          </div>
          <!-- Desktop aside  -->
          <aside class="hidden xl:block xl:pl-8">
            {% include "./includes/detail_info.html" %}
            {% include "./includes/detail_reported_types.html" %}
         </aside>
         <!-- -->
        </div>
      </div>
    </main>    
  </div>
</div>
{% endblock %}

{% block script %}
  {% include "./includes/detail_script.html" %}
{% endblock script %}

