{% extends "./base.html" %}

{% block live_streams %}
<div class="mt-10 divide-y divide-gray-200">
    <div class="space-y-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Stream Settings</h3>
      <p class="max-w-2xl text-sm text-gray-500">Following are the Live Stream details </p>
    </div>
    <div class="mt-6">
      <dl class="divide-y divide-gray-200">
        {% include "./includes/description_list_item.html" %}
    </dl>
    </div>
  </div>
  <form class="flex items-start md:col-span-2">
  <div class="mt-8 flex">
    <button type="submit" class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400">Stop Live</button>
  </div>  
  </form>
{% endblock %}
  