{% extends "./base.html" %}

{% block main_content %}

<div class="flex">

  <main class="grow">
    <div class="py-5 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-8">
      <!-- Main area -->
      <div role="status"
        class="grow flex items-center justify-center aspect-video w-full xl:max-w-lg 2xl:max-w-md rounded-lg">
        <video controls>
          <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4">
        </video>
      </div>
      <dl class="flex flex-col">
        <div class="py-2 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Stream URL</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">rtmp://13.232.127.153:1935/live</dd>
        </div>
        <div class="py-2 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Stream Key</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">6bunks-63BcTXSkNsG</dd>
        </div>
      </dl>
    </div>
  </main>

  <aside class="relative inset-y-0 right-0 hidden w-96 overflow-y-auto border-l border-gray-200 xl:block">
    <div class="tp-chat bg-white inset-0 w-full">
      <div class="bg-white shadow sm:overflow-hidden sm:rounded-lg max-w-2xl mx-auto h-full">
        <div class="divide-y divide-gray-200 h-full flex flex-col">
          <div class="p-4 sm:px-6">
            <h2 class="text-lg font-medium text-gray-900">Live Chat Replay</h2>
          </div>
          <div class="px-4 sm:px-4">
            <ul class="py-2 overflow-y-auto pr-4" style="height: calc(-19rem + 100vh);">

              {% for message in chat_messages %}
              <li class="py-2 px-2 rounded-md">
                <div class="flex items-center space-x-2 text-sm">
                  <p class="font-medium text-gray-900">{{ message.name }}</p>
                  {% if message.isModerator %}
                  <span
                    class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-600 ring-1 ring-inset ring-blue-700/10">Moderator</span>
                  {% endif %}
                </div>
                <div class="mt-1 flex  text-sm text-gray-700">
                  <p title="2:02:52 pm" class="flex ">{{ message.body }}
                  </p>
                </div>
              </li>
              {% endfor %}
          </div>
          <div class="bg-gray-50 px-4 py-6 sm:px-6">
            <div class="flex space-x-3">
              <div class="min-w-0 flex-1">
                <div><label for="comment" class="sr-only">About</label> <textarea rows="3"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                    placeholder="Type a message..."></textarea></div>
                <div class="mt-3 flex items-center justify-end"><button type="button"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </aside>

</div>
{% endblock %}