<div x-show="viewMode === 'table'" class="overflow-x-auto">
  <table class="min-w-full table-fixed divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="w-1/2">
          {% include "./date_sort_header.html" %}
        </th>
        <th scope="col" class="w-1/2">
          {% include "./license_requests_sort_header.html" %}
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <template x-for="day in daysInSelectedMonth" :key="day.date">
        <tr>
          <td class="whitespace-nowrap px-5 py-3 text-sm text-gray-800" x-text="day.label"></td>
          <td class="whitespace-nowrap px-5 py-3 text-sm font-semibold text-gray-900" x-text="formatNumber(day.count)"></td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
