<div id="published-content" role="tabpanel" aria-labelledby="tab-published">
  <template x-if="filteredPublished.length > 0">
  <div class="overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
    <div class="min-w-full inline-block align-middle">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr class="border-t border-gray-200">
            <th scope="col" class="min-w-[250px]">
              <div class="hs-dropdown relative inline-flex w-full cursor-pointer">
                <button type="button" class="px-5 py-2.5 text-start w-full flex items-center gap-x-1 text-sm font-normal text-gray-500 focus:outline-none focus:bg-gray-100">
                  Report Title
                </button>
              </div>
            </th>

            <th scope="col" class="min-w-36">
              <div class="hs-dropdown relative inline-flex w-full cursor-pointer">
                <button type="button" class="px-5 py-2.5 text-start w-full flex items-center gap-x-1 text-sm font-normal text-gray-500 focus:outline-none focus:bg-gray-100">
                  Course
                </button>
              </div>
            </th>

            <th scope="col" class="min-w-42.5">
              <div class="hs-dropdown relative inline-flex w-full cursor-pointer">
                <button type="button" class="px-5 py-2.5 text-start w-full flex items-center gap-x-1 text-sm font-normal text-gray-500 focus:outline-none focus:bg-gray-100">
                  Exams
                </button>
              </div>
            </th>

            <th scope="col" class="min-w-42.5">
              <div class="hs-dropdown relative inline-flex w-full cursor-pointer">
                <button type="button" class="px-5 py-2.5 text-start w-full flex items-center gap-x-1 text-sm font-normal text-gray-500 focus:outline-none focus:bg-gray-100">
                  Chapter Content
                </button>
              </div>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <template x-for="report in filteredPublished" :key="report.id">
          <tr>
            <td class="size-px whitespace-nowrap px-4 py-3">
               <div class="w-full flex items-center gap-x-3">
                  <div class="flex space-x-2 grow">
                    <div class="hs-tooltip [--trigger:hover] [--placement:top] inline-block">
                        <a :href="`create/?report=${report.id}`" 
                           class="hs-tooltip-toggle text-sm font-medium text-stone-800 hover:text-emerald-600 decoration-2 hover:underline focus:outline-none focus:underline focus:text-emerald-600 cursor-pointer" 
                           x-text="report.title">
                        </a>
                        <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm" role="tooltip">
                          <span x-text="report.description || 'No description available'"></span>
                        </div>
                    </div>
                  </div>
               </div>
            </td>

            <td class="size-px whitespace-nowrap px-4 py-1">
              <span class="text-sm text-gray-600" x-text="report.course || 'Global'"></span>
            </td>

            <td class="size-px whitespace-nowrap px-4 py-1">
                <div class="flex flex-nowrap items-center gap-1">
                  <template x-for="exam in (report.exams || []).slice(0, 2)" :key="exam.id">
                    <span class="hover:text-blue-600 decoration-2 hover:underline hover:cursor-pointer p-2 bg-gray-100 text-gray-800 text-xs rounded-md truncate max-w-52" x-text="exam.name"></span>
                  </template>
                  
                  <div x-show="(report.exams || []).length > 2" class="hs-tooltip [--trigger:click] sm:[--placement:right]">
                    <button type="button" class="hs-tooltip-toggle cursor-pointer font-medium p-2 text-gray-800 text-xs rounded-md whitespace-nowrap">
                      +<span x-text="(report.exams || []).length - 2"></span> more
                      <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-auto bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
                        <ul class="py-3 px-4 space-y-1 list-disc list-inside text-sm text-gray-800">
                          <template x-for="exam in (report.exams || []).slice(2)" :key="exam.id">
                            <li>
                              <span class="hover:text-blue-600 decoration-2 hover:underline hover:cursor-pointer" x-text="exam.name"></span>
                            </li>
                          </template>
                        </ul>
                      </div>
                    </button>
                  </div>
                   <span x-show="!report.exams || report.exams.length === 0" class="text-xs text-gray-400">-</span>
                </div>
            </td>

            <td class="size-px whitespace-nowrap px-4 py-1">
                <div class="flex flex-nowrap items-center gap-1">
                  <template x-for="content in (report.chapter_content || []).slice(0, 2)" :key="content.id">
                    <span class="hover:text-blue-600 decoration-2 hover:underline hover:cursor-pointer p-2 bg-gray-100 text-gray-800 text-xs rounded-md truncate max-w-52" x-text="content.name"></span>
                  </template>
                  
                  <div x-show="(report.chapter_content || []).length > 2" class="hs-tooltip [--trigger:click] sm:[--placement:right]">
                    <button type="button" class="hs-tooltip-toggle cursor-pointer font-medium p-2 text-gray-800 text-xs rounded-md whitespace-nowrap">
                      +<span x-text="(report.chapter_content || []).length - 2"></span> more
                      <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-auto bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
                        <ul class="py-3 px-4 space-y-1 list-disc list-inside text-sm text-gray-800">
                          <template x-for="content in (report.chapter_content || []).slice(2)" :key="content.id">
                            <li>
                              <span class="hover:text-blue-600 decoration-2 hover:underline hover:cursor-pointer" x-text="content.name"></span>
                            </li>
                          </template>
                        </ul>
                      </div>
                    </button>
                  </div>
                  <span x-show="!report.chapter_content || report.chapter_content.length === 0" class="text-xs text-gray-400">-</span>
                </div>
            </td>

            <td class="size-px whitespace-nowrap px-4 py-1 text-end">
              <div class="flex justify-center items-center -space-x-px">
                <a :href="`create/?report=${report.id}`" class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium first:rounded-s-lg last:rounded-e-lg border border-stone-200 bg-white text-stone-800 shadow-2xs hover:bg-stone-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-stone-50">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
                  Edit
                </a>
                <div class="hs-dropdown relative inline-flex [--auto-close:inside] [--placement:bottom-right] first:rounded-s-lg last:rounded-e-lg border border-stone-200 bg-white shadow-2xs hover:bg-stone-50">
                  <button :id="`dropdown-${report.id}`" type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-e-lg text-stone-800 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-stone-50" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="1" />
                      <circle cx="12" cy="5" r="1" />
                      <circle cx="12" cy="19" r="1" />
                    </svg>
                  </button>

                  <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 transition-[opacity,margin] duration opacity-0 hidden z-10 bg-white rounded-xl shadow-[0_10px_40px_10px_rgba(0,0,0,0.08)]" role="menu" aria-orientation="vertical">
                    <div class="p-1">
                      <button type="button" @click="duplicateReport(report.id)" class="w-full flex items-center gap-x-3 py-1.5 px-2 rounded-lg text-[13px] text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-100 ">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers2-icon lucide-layers-2"><path d="M13 13.74a2 2 0 0 1-2 0L2.5 8.87a1 1 0 0 1 0-1.74L11 2.26a2 2 0 0 1 2 0l8.5 4.87a1 1 0 0 1 0 1.74z"/><path d="m20 14.285 1.5.845a1 1 0 0 1 0 1.74L13 21.74a2 2 0 0 1-2 0l-8.5-4.87a1 1 0 0 1 0-1.74l1.5-.845"/></svg>
                        Duplicate
                      </button>
                      
                      <div class="my-1 border-t border-gray-200"></div>

                      <button type="button" @click="deleteReport(report.id)" class="w-full flex items-center gap-x-3 py-1.5 px-2 rounded-lg text-[13px] text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-100 ">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  
  {% include "./pagination.html" %}
  </template>
  
  <template x-if="filteredPublished.length === 0">
     {% include "./empty_state.html" %}
  </template>
</div>