---
tags: testpress
student_view : Videos
date: 2000-10-01
new_student_page: true
---


{% extends "src/testpress/layout/student_layout.html" %}
{% block body_class %}bg-white dark:bg-neutral-900 {% endblock %}

{% block main_content %}
{% include "./tabs.html"%}
<div class="space-y-2 pt-3">
  {% include "./header.html"%}
  {% include "./course_filter.html"%}
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3 lg:gap-5">
  {% for video in videos %}
  <div class="h-full flex flex-col">
    <div class="relative">
      <div class="group relative">
        <a class="block shrink-0 relative w-full aspect-video overflow-hidden rounded-xl focus:outline-hidden" href="#">
          {% if video.thumbnail %}
          <img
            class="size-full absolute inset-0 object-cover object-center group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl"
            src="{{ video.thumbnail }}" alt="Video Image">
          {% else %}
          <div class="bg-gray-100 w-full rounded-xl dark:bg-neutral-800 aspect-[16/9]">
            <div class="flex items-center justify-center h-full">
              <svg class="w-12 h-12 text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                </path>
              </svg>
            </div>
          </div>
          {% endif %}
        </a>
        <!-- End Badge Group -->

        <!-- Quick View -->
        <div class="absolute top-1/2 start-1/2 z-2 transform -translate-y-1/2 -translate-x-1/2">
          <div class="opacity-0 group-hover:opacity-100 group-hover:mb-0 -mb-2 duration-300">
            <div class="h-full flex flex-col justify-center items-center">
              <a href="#"
                class="whitespace-nowrap flex items-center gap-x-1.5 py-2 px-3 bg-white text-gray-800 text-xs rounded-full hover:text-gray-500 focus:outline-hidden focus:text-gray-500"
                data-hs-overlay="#hs-pro-shmchpdm">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                View
              </a>
            </div>
          </div>
        </div>
        <!-- ENd Quick View -->
        {% if video.status == "In Progress" and video.watched_percentage %}
        <div class="absolute bottom-0 left-0 w-full h-1.5 rounded-b-xl overflow-hidden bg-gray-200 dark:bg-neutral-700">
          <div class="h-full bg-primary-400 transition-all duration-300"
            style="width: {{ video.watched_percentage }}%;"></div>
        </div>
        {% endif %}

      </div>


      <div class="pt-3 flex items-center  gap-x-1">
        <div class="hs-tooltip [--placement:bottom] hover:cursor-pointer inline-block max-w-full">
          <h2 class="hs-tooltip-toggle font-medium text-gray-800 dark:text-neutral-200 line-clamp-1 max-w-full">
            {{ video.title }}
          </h2>
          <span
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 max-w-72 hs-tooltip-shown:visible opacity-0 transition-opacity invisible absolute z-[99] py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700">
            {{ video.title }}
          </span>
        </div>
        {% if video.description %}
        <button class="hs-tooltip-toggle hs-tooltip [--placement:bottom] inline-block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-5 text-gray-500 hover:cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z">
            </path>
          </svg>
          <span
            class="max-w-72 hs-tooltip-content text-left hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-2xs dark:bg-neutral-700"
            role="tooltip">
            {{ video.description }}
          </span>
        </button>

        {% endif %}
      </div>
      <a href="#" class="pb-4 text-sm text-gray-500 dark:text-neutral-500 hover:underline">
        {{ video.course_name }}
      </a>

    </div>
  </div>
  {% endfor %}

</div>
{% endblock main_content %}

{% block script %}
{% include "./course_filter_component.html"%}
{% endblock script %}