<div class="py-6 sm:py-8 space-y-5 border-t border-gray-200 first:border-t-0 dark:border-neutral-700">
  <div class="grid sm:grid-cols-12 gap-y-1.5 2xl:gap-y-0 sm:gap-x-5">
    <div class="sm:col-span-4 xl:col-span-3 2xl:col-span-2">
      <label class="inline-block text-sm text-gray-500 dark:text-neutral-500">Sessions</label>
    </div>

    <div class="sm:col-span-8 2xl:col-span-10">
      <div class="grid xl:grid-cols-2 2xl:grid-cols-3 gap-5">
        {% for session in sessions %}
        <div class="p-5 space-y-4 flex flex-col bg-white border border-gray-200 rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
          <div class="flex justify-between">
            <div class="flex flex-col justify-center items-center size-[38px] border border-gray-200 rounded-lg dark:border-neutral-700">
              <svg class="size-5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 16V7a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v9m16 0H4m16 0 1.28 2.55a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45L4 16" />
              </svg>
            </div>

            <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
              <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                <polyline points="16 17 21 12 16 7" />
                <line x1="21" x2="9" y1="12" y2="12" />
              </svg>
              Sign out
            </button>
          </div>

          <div class="flex justify-between items-center">
            <span class="font-medium text-gray-800 dark:text-neutral-200">{{ session.device }}</span>
            {% if session.status == 'Current session' %}
            <span class="inline-flex items-center gap-1.5 py-px px-2 text-xs font-medium bg-green-100 text-green-800 rounded-full dark:bg-green-500/10 dark:text-green-500"> {{ session.status }} </span>
            {% elseif session.status == 'Expired' %}
            <span class="inline-flex items-center gap-1.5 py-px px-2 text-xs font-medium bg-gray-100 text-gray-800 rounded-full dark:bg-neutral-700 dark:text-neutral-200"> {{ session.status }} </span>
            {% endif %}
          </div>

          <ul class="space-y-2">
            <li class="flex justify-between items-center">
              <span class="text-xs uppercase text-gray-500 dark:text-neutral-500">Location:</span>
              <span class="text-sm text-gray-800 dark:text-neutral-200">{{ session.location }}</span>
            </li>
            <li class="flex justify-between items-center">
              <span class="text-xs uppercase text-gray-500 dark:text-neutral-500">Device:</span>
              <span class="text-sm text-gray-800 dark:text-neutral-200">{{ session.deviceType }}</span>
            </li>
            <li class="flex justify-between items-center">
              <span class="text-xs uppercase text-gray-500 dark:text-neutral-500">IP address:</span>
              <span class="text-sm text-gray-800 dark:text-neutral-200">{{ session.ipAddress }}</span>
            </li>
            <li class="flex justify-between items-center">
              <span class="text-xs uppercase text-gray-500 dark:text-neutral-500">Recent activity:</span>
              <span class="text-sm text-gray-800 dark:text-neutral-200">{{ session.activity }}</span>
            </li>
          </ul>

          <button type="button" class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M12 16v-4" />
              <path d="M12 8h.01" />
            </svg>
            Don’t recognize something?
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
