{% extends "../base.html" %}
{% block settings %}

<div class="mt-8 flex flex-col">
  <!-- Flex container for Heading and Status Filter -->
  <div class="flex justify-between items-center mb-6">
    <!-- Heading -->
    <h2 class="text-lg font-semibold">Transcoding videos</h2>
    <div>
      {% include "./filter.html" %}
    </div>
  </div>

  <div class="-my-2 -mx-4 overflow-visible sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                Name
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Asset Id</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Submitted on</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Started on</th>
              {% if request.query.param == 'Completed' %}
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ended on</th>
              {% endif %}
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Duration</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% block row %} {% endblock %}
            {% for asset in assets %}
                {% include "./row.html" %}
            {% endfor %}
            {% if page_obj.has_other_pages %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

