{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter var',],
          },
        }
      }
    }
  </script>
  <style>
    [data-tooltip]:hover span {
      display: block;
    }
  </style>
  {% block extra_head %} {% endblock extra_head %}
{% endblock head%}


{% block body %} 
  <body class="h-full {% block body_class %} {% endblock %}">
    <div class="min-h-full">
      {% include "partials/admin_navbar.html" %}
      {% block content %} {% endblock content %}
    </div>

    {% block script %} {% endblock script %}
  </body>
{% endblock body %}
