{% extends "layouts/base.html" %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Arial', 'Helvetica',],
            opensans: ['Open Sans']
          },
        }
      }
    }
  </script>
  {% block extra_head %} {% endblock extra_head %}
{% endblock head%}


{% block body %} 
<body class="h-screen">
  {% block content %} {% endblock content %}
  
  {% block script %} {% endblock script %}
</body>
{% endblock body %}
