<!doctype html>
<html class="{% block html_class %} {% endblock %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/tailwind.css"></link>
  {% block head %}
  {% endblock head%}
  <script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>

   <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</head>

{% block body %}
{% endblock body %}

<script>
  document.addEventListener('alpine:init', () => {
      Alpine.data('answers', () => ({
          answers() {
            fetch(`/doubts/related_doubt_answer/?id=1`)
              .then(response => {
                  if (!response.ok) throw new Error('Network response was not ok');
                  return response.text();
              })
              .then(html => {
                  document.getElementById('related_answers').innerHTML = html;
                  this.fetchedrelateddoubts = true;
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
              });
          }
      }));
  });
</script>
<script>
  function fetchDoubtById() {
      console.log('called')
      let url = new URL(window.location.href);
      console.log(url)
      let id = 1;
      console.log(id)
      let doubts = JSON.parse('{{ related_doubts|dump|safe }}');
      return doubts.find(doubt => doubt.id == id);
  }
</script>

</html>
