{% extends "layouts/base.html" %}

{% block html_class %}h-full bg-white{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter var',],
        },
      }
    }
  }
</script>
{% block extra_head %} {% endblock extra_head %}
{% endblock head%}


{% block body %}

<body class="h-full {% block body_class %} {% endblock %}">
  <div x-data="{open: false}" @keydown.window.escape="open = false">
    {% include "partials/tpstreams_sidebar_mobile.html" %}
    {% include "partials/tpstreams_sidebar_desktop.html" %}
    <!-- Content area -->
    <div class="lg:pl-64">
      <div class="sticky top-0 z-40 lg:mx-auto lg:max-w-7xl 2xl:max-w-screen-2xl lg:px-8">
        <div
          class="flex h-16 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-0 lg:shadow-none">
          {% include "partials/mobile_sidebar_open_button.html" %}
          {% include "partials/header_separator.html" %}
          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
            {% include "partials/global_search.html" %}
            {% include "partials/profile_dropdown.html" %}
          </div>
        </div>
      </div>
  
      <main class="py-10 relative">
        <div class="mx-auto max-w-7xl 2xl:max-w-screen-2xl px-4 sm:px-6 lg:px-8">
            {% block content %} {% endblock content %}
        </div>
      </main>
    </div>
  </div>

  {% block script %} {% endblock script %}
</body>
{% endblock body %}