{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter var',],
          },
        }
      }
    }
  </script>
  {% block extra_head %} {% endblock extra_head %}
{% endblock head%}


{% block body %} 
  <body class="h-full {% block body_class %} {% endblock %}">
    {% include "partials/tpstreams_sidebar.html" %}

    <div class="md:pl-32 xl:pl-64">
      <div class="flex flex-col max-w-5xl 2xl:max-w-screen-2xl mx-auto sm:px-6 md:px-8">
        <main class="flex-1">
          <div class="pt-10 pb-16">
            {% block content %} {% endblock content %}
          </div>
        </main>
      </div>
    </div>

    {% block script %} {% endblock script %}
  </body>
{% endblock body %}

