{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter var',],
          },
        }
      }
    }
  </script>
  {% block extra_head %} {% endblock extra_head %}
{% endblock head%}


{% block body %} 
  <body class="h-full {% block body_class %} {% endblock %}">
    {% block content %} {% endblock content %}
    {% block script %} {% endblock script %}
  </body>
{% endblock body %}

