---
tags: testpress
student_view : Exams
date: 2000-10-01
new_student_page: true
---


{% extends "src/testpress/layout/student_layout.html" %}

{% block main_content %}
  {% include "./header.html"%}
  {% include "./stats.html"%}
  <div class="p-5 space-y-4 flex flex-col bg-white border border-stone-200 shadow-2xs rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
    {% include "./tabs.html" %}
    {% include "./filter.html" %}
    <div>
      {% include "./table.html" %}
    </div>
  </div>

{% endblock main_content %}

