{% extends "layouts/admin_base.html" %} {% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto xl:px-8 py-8 lg:grid lg:grid-cols-12 lg:gap-x-5">
    <div class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
        {% include "partials/admin_course_sidebar.html"%}
    </div>
    <div class="lg:px-0 lg:col-span-9 px-4">
        {% include "partials/course_breadcrumb.html" %}
        <div>
            <div class="py-1.5 sm:flex sm:items-center lg:mx0">
                <h1 class="text-xl font-semibold text-gray-900">Create Study Plan</h1>
        </div>
        {% include "./includes/study_plan_form.html" %}
    </div>
    {% include "./includes/delete_modal.html" %}
</div>
{% endblock %}