<div>
  <header class="bg-[#3C3737] h-[40px] flex justify-between px-5">
    <h1 class="font-normal text-white leading-10 text-xl font-sans">Practice Exam 1</h1>
    <div class="flex flex-col justify-around items-end">
      <div class="inline h-full p-0 m-0 border border-transparent">
        {% if timeRemaining %}
        <a class="text-[#FFFF00] text-xs leading-5 inline-block p-0 m-0 h-5 font-normal cursor-pointer" href="#" role="button">
          <span class="font-gmat-icon align-middle text-sm">A</span>
          <span class="tracking-wider mr-1">Time Remaining:</span>
          <span class="tracking-wider">{{timeRemaining}}</span>
        </a>
        {% endif %}
      </div>
      <div class="flex p-0 m-0 h-full">
        {% if showPageCounter %}
        <a class="text-white text-xs leading-4 inline-block p-0 m-0 h-5 font-normal cursor-pointer" href="#" role="button">
          <span class="font-gmat-icon align-middle text-sm">v</span>
          <span class="ml-1 tracking-wider" x-text="(index+1)+' of '+ (userSelectedAnswers.length)"></span>
        </a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="bg-[#2E9DA3] relative h-[27px] px-5 text-white text-base font-verdana">
    {% if showExamToolbar %}
    <div class="flex justify-between">
      <div class="space-x-2.5">
        <span class="text-sm truncate">Quantitative Reasoning</span>
        <a class="truncate tracking-tighter hover:text-[#FFFF00] text-sm leading-6 text-white rounded-sm cursor-pointer font-normal m-0" data-key-index="0"><span class="font-gmat-icon leading-7 align-middle mr-1">D</span><span class="underline">W</span><span>hiteboard</span></a>
        <a class="truncate tracking-tighter hover:text-[#FFFF00] text-sm leading-6 text-white rounded-sm cursor-pointer font-normal m-0" data-key-index="0"><span class="font-gmat-icon leading-7 align-middle mr-1">f</span>Calculator</a>
      </div>
      <span class="truncate tracking-tighter hover:text-[#FFFF00] text-sm leading-6 text-white rounded-sm cursor-pointer font-normal m-0" data-key-index="0"><span class="font-gmat-icon leading-7 align-middle mr-1">o</span><span class="underline">F</span><span>lag for Review</span></span>
    </div>
    {% endif %}
  </div>
</div>
