<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
  Background backdrop, show/hide based on modal state.
  Entering: "ease-out duration-300"
  From: "opacity-0"
  To: "opacity-100"
  Leaving: "ease-in duration-200"
  From: "opacity-100"
  To: "opacity-0"
-->
  <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
          <!--
      Modal panel, show/hide based on modal state.
      Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
          <div
              class="relative px-4 pt-5 pb-4 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 min-h-[80vh]" @click.away="showsimilarQs=false,showRelatedDoubtsList=false,selectedDoubtId=null" x-data="{doubt_title:null}">
              <div class="flex">
                <svg x-show="selectedDoubtId" @click="showRelatedDoubtsList=true,selectedDoubtId=null" class="shrink-0 mr-3 w-5 text-gray-400 hover:cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
              </svg>
                <h3  x-show="selectedDoubtId" class="truncate text-base font-semibold leading-6 text-gray-900" x-text="doubt_title"></h3>
                  <h3 x-show="showRelatedDoubtsList" class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Similar Questions</h3>
              </div>
              <div class="mt-3">
                  <ul role="list" class="overflow-y-auto max-h-[67vh]">
                      {% for doubt in related_doubts %}
                      <li x-show="showRelatedDoubtsList" class="relative flex justify-between py-5 gap-x-6 hover:cursor-pointer">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="flex-auto min-w-0">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                              <span class="hover:underline"  @click="fetchAndShowDoubtDetail('{{ doubt.id }}'),doubt_title='{{ doubt.title }}'">
                                <span class="absolute inset-x-0 bottom-0"></span>
                                {{ doubt.title }}
                              </span>
                            </p>
                            <p class="flex mt-1 text-xs leading-5 text-gray-500">
                              <a class="relative truncate">{{ doubt.description|safe }}</a>
                            </p>
                          </div>
                        </div>
                      </li>
                      <div x-ref="relatedDoubtDetail_{{doubt.id}}" x-show="selectedDoubtId=={{ doubt.id }}"></div>
                    {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
