---
slug: course-enrolled-students
tags: testpress
title: Course Enrolled Students
---


{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}
{% block content %}
<div class="py-10 max-w-7xl mx-auto lg:px-8 px-4">
  {% include "./includes/breadcrumbs.html" %}
	{% include "./includes/header.html" %}
  {% include "./includes/table.html" %}
</div>
<script src="https://preline.co/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<script>
  window.addEventListener('load', () => {
    (function () {
      const range = document.querySelector('#hs-pass-values-to-html-elements');
      const rangeInstance = new HSRangeSlider(range);
      const min = document.querySelector('#hs-pass-values-to-html-elements-min-target');
      const max = document.querySelector('#hs-pass-values-to-html-elements-max-target');

      range.noUiSlider.on('update', (values) => {
        min.innerText = rangeInstance.formattedValue[0];
        max.innerText = rangeInstance.formattedValue[1];
      });
    })();
  });
</script>
{% endblock %}
