@import "tailwindcss";

@source "../../**/*.{html,js}";
@source "../node_modules/preline/dist/*.js";

@import "../node_modules/preline/variants.css";
@import "../node_modules/preline/css/themes/theme.css";

:root {
  --primary-50: var(--color-emerald-50);
  --primary-100: var(--color-emerald-100);
  --primary-200: var(--color-emerald-200);
  --primary-300: var(--color-emerald-300);
  --primary-400: var(--color-emerald-400);
  --primary-500: var(--color-emerald-500);
  --primary-600: var(--color-emerald-600);
  --primary-700: var(--color-emerald-700);
  --primary-800: var(--color-emerald-800);
  --primary-900: var(--color-emerald-900);
  --primary-950: var(--color-emerald-950);
  --primary-focus: var(--color-emerald-600);
}


@utility border-layer-line {
  border-color: var(--border-layer-line);
}

@plugin "@tailwindcss/forms";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* Alpine.js x-cloak - prevents FOUC (Flash of Unstyled Content) */
  [x-cloak] {
    display: none !important;
  }

  /* Preline Datepicker fix */
  .vc,
  .hs-datepicker {
    @apply z-100;
  }
}

/* Remove number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
