<table class="min-w-full divide-y divide-gray-200"  x-data="{'selected': null,'showLoader':false}">
  {% include "./table_header.html" %}
  <tbody class="divide-y divide-gray-200 bg-white">
    {% for user_installment in user_installments %}
    <tr class="cursor-pointer select-none" :class="{ 'bg-gray-100': `{{user_installment.id}}`== selected}" @click.once='showLoader=true;setTimeout(function () {showLoader=false;}, 600);' @click="selected !== `{{user_installment.id}}` ? selected = `{{user_installment.id}}` : selected = null">
        {% include "./display_user_product_paid_details.html"%}
        
        {% if user_installment.is_amount_paid %}
            {% include "./display_amount_paid_green_badge.html" %}
        {% elif user_installment.is_amount_due_soon %}
            {% include "./display_amount_due_soon_yellow_badge.html" %}
        {% elif user_installment.is_amount_overdue %}
            {% include "./display_amount_overdue_red_badge.html" %}
        {% else %}
            {% include "./display_amount_due_gray_badge.html" %}
        {% endif %}

        {% include "./display_last_paid.html" %}
    </tr>

    <tr x-cloak x-show="selected == {{user_installment.id}}">
      <td colspan="6">
        <template x-if="showLoader">
          {% include "./loader.html" %}
        </template>
        <template x-if="!showLoader">
          {% include "../order_item_list.html" %}
        </template>
      </td>
    </tr>
    
    {% endfor %}

    {% if not user_installments %}
    <tr>
      <td colspan="6" class="p-8 text-center text-sm">No User Installments</td>
    </tr>
    {% endif %}
  </tbody>
</table>
