---
slug: settings
tags: tpstreams
title: Settings
date: 2023-03-14
---

{% extends "layouts/base.html" %}

{% block html_class %}h-full bg-white{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter var',],
        },
      }
    }
  }
</script>
{% block extra_head %} {% endblock extra_head %}
{% endblock head%}
{% block body %}

<body class="h-full {% block body_class %} {% endblock %}">
  <div x-data="{open: false}" @keydown.window.escape="open = false">
    {% include "partials/tpstreams_sidebar_mobile.html" %}
    {% include "partials/tpstreams_sidebar_desktop.html" %}
    <!-- Content area -->
    <div class="lg:pl-64">
      <div class="lg:px-8">
        <div class="mx-auto flex flex-col lg:max-w-4xl">

          {% include "partials/tpstreams_topbar.html" %}

          <main class="flex-1">
            <div class="relative mx-auto max-w-4xl">
              <div class="pt-10 pb-16">
                {% include "./includes/header.html" %}
                <div class="px-4 sm:px-6 lg:px-0">
                  <div class="py-6">
                    <!-- Tabs -->
                    {% include "./includes/tablet_tabs.html" %}
                    {% include "./includes/desktop_tabs.html" %}
                    <!-- Description list with inline editing -->
                    {% include "./includes/general_form.html" %}

                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock body %}