---
slug: player_preferences
tags: tpstreams
title: Global Player Preferences
date: 2023-03-14
---

{% extends "./base.html" %}

{% block settings %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr"></script>

<form>
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">

      <h2 class="mt-6 text-base font-semibold leading-7 text-gray-900">Controls</h2>
      <!-- <p class="mt-1 text-sm leading-6 text-gray-600">Adjust your player settings for an optimal viewing experience on
        TPStreams.</p> -->
      <!-- <legend class="text-sm font-semibold leading-6 text-gray-900">By Email</legend> -->
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <!-- Controls Enabled -->
        <div class="sm:col-span-full border-b border-gray-900/10 pb-8">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="controls_enabled" name="controls_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="controls_enabled" class="font-medium text-gray-900">Enable player controls</label>
              <p class="text-gray-500">Show the player controls for video playback.</p>
            </div>
          </div>
        </div>

        <!-- Show Video Title -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="show_video_title" name="show_video_title" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="show_video_title" class="font-medium text-gray-900">Show video title</label>
              <p class="text-gray-500">Display the title of the video on the player.</p>
            </div>
          </div>
        </div>
        <!-- Enable Play Icon -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="enable_play_icon" name="enable_play_icon" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
            <div class="text-sm leading-6">
              <label for="enable_play_icon" class="font-medium text-gray-900">Enable play icon</label>
              <p class="text-gray-500">Show the play icon on the video player.</p>
            </div>
          </div>
        </div>

        <!-- Enable Progress Bar -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="enable_progress_bar" name="enable_progress_bar" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
            <div class="text-sm leading-6">
              <label for="enable_progress_bar" class="font-medium text-gray-900">Enable progress bar</label>
              <p class="text-gray-500">Show the progress bar on the video player.</p>
            </div>
          </div>
        </div>

        <!-- Speed Controls Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="speed_controls_enabled" name="speed_controls_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="speed_controls_enabled" class="font-medium text-gray-900">Enable speed controls</label>
              <p class="text-gray-500">Allow viewers to change the playback speed.</p>
            </div>
          </div>
        </div>

      </div>
      <h2 class="mt-6 text-base font-semibold leading-7 text-gray-900">Behaviour</h2>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <!-- Subtitles Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="subtitles_enabled" name="subtitles_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="subtitles_enabled" class="font-medium text-gray-900">Enable subtitles</label>
              <p class="text-gray-500">Show subtitles for the video.</p>
            </div>
          </div>
        </div>

        <!-- Autoplay Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="autoplay_enabled" name="autoplay_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="autoplay_enabled" class="font-medium text-gray-900">Enable autoplay</label>
              <p class="text-gray-500">Automatically start playback when the video is loaded.</p>
            </div>
          </div>
        </div>

        <!-- Background Mode Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="background_mode_enabled" name="background_mode_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="background_mode_enabled" class="font-medium text-gray-900">Enable background mode</label>
              <p class="text-gray-500">Disables all player controls, mutes the video, loops it, and starts playback
                automatically.</p>
            </div>
          </div>
        </div>


        <!-- Loop Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="loop_enabled" name="loop_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="loop_enabled" class="font-medium text-gray-900">Enable loop playback</label>
              <p class="text-gray-500">Automatically replay the video when it ends.</p>
            </div>
          </div>
        </div>

        <!-- Muted on Start -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="muted_on_start" name="muted_on_start" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="muted_on_start" class="font-medium text-gray-900">Mute video on start</label>
              <p class="text-gray-500">Start the video with the sound muted.</p>
            </div>
          </div>
        </div>

        <!-- Picture-in-Picture Enabled -->
        <div class="sm:col-span-3">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="picture_in_picture_enabled" name="picture_in_picture_enabled" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
            <div class="text-sm leading-6">
              <label for="picture_in_picture_enabled" class="font-medium text-gray-900">Enable picture-in-picture
                mode</label>
              <p class="text-gray-500">Allow the video to be viewed in a small overlay window.</p>
            </div>
          </div>
        </div>

        <!-- Default Quality -->
        <div class="sm:col-span-3">
          <label for="default_quality" class="block text-sm font-medium leading-6 text-gray-900">Default video
            quality</label>
          <div class="mt-2">
            <select id="default_quality" name="default_quality"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="240">240p</option>
              <option value="360">360p</option>
              <option value="480">480p</option>
              <option value="720">720p</option>
              <option value="2160">4k</option>
            </select>
          </div>
        </div>

      </div>
      <h2 class="mt-6 text-base font-semibold leading-7 text-gray-900">Appearance</h2>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">


        <!-- Primary Color -->
        <div class="sm:col-span-3">
          <label for="primary_color" class="block text-sm font-medium leading-6 text-gray-900">Primary color</label>
          <div class="mt-2">
            <div id="primary_color_picker"
              class="w-full rounded-md border border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
            </div>
          </div>
          <input type="hidden" id="primary_color_input" name="primary_color" value="#03a4eb">
        </div>

        <!-- Icons Color -->
        <div class="sm:col-span-3">
          <label for="icons_color" class="block text-sm font-medium leading-6 text-gray-900">Icons color</label>
          <div class="mt-2">
            <div id="icons_color_picker"
              class="w-full rounded-md border border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
            </div>
          </div>
          <input type="hidden" id="icons_color_input" name="icons_color" value="#ffffff">
        </div>

        <!-- Accent Color -->
        <div class="sm:col-span-3">
          <label for="accent_color" class="block text-sm font-medium leading-6 text-gray-900">Accent color</label>
          <div class="mt-2">
            <div id="accent_color_picker"
              class="w-full rounded-md border border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
            </div>
          </div>
          <input type="hidden" id="accent_color_input" name="accent_color" value="#ff5733">
        </div>

        <!-- Background Color -->
        <div class="sm:col-span-3">
          <label for="background_color" class="block text-sm font-medium leading-6 text-gray-900">Background
            color</label>
          <div class="mt-2">
            <div id="background_color_picker"
              class="w-full rounded-md border border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
            </div>
          </div>
          <input type="hidden" id="background_color_input" name="background_color" value="#000000">
        </div>


        <!-- Custom Logo -->
        <div class="sm:col-span-3">
          <label for="custom_logo" class="block text-sm font-medium leading-6 text-gray-900">Custom logo</label>
          <div class="mt-2">
            <input type="file" name="custom_logo" id="custom_logo"
              class="block w-full text-gray-900 shadow-sm focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <!-- Play Button Position -->
        <div class="sm:col-span-3">
          <label for="play_button_position" class="block text-sm font-medium leading-6 text-gray-900">Play button
            position</label>
          <div class="mt-2">
            <select id="play_button_position" name="play_button_position"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option value="0">Auto</option>
              <option value="1">Bottom</option>
              <option value="2">Center</option>
            </select>
          </div>
        </div>
        <!-- Default Subtitle Language -->
        <div class="sm:col-span-3">
          <label for="default_subtitle_language" class="block text-sm font-medium leading-6 text-gray-900">Default
            subtitle language</label>
          <div class="mt-2">
            <input type="text" name="default_subtitle_language" id="default_subtitle_language"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
    <button type="submit"
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
  </div>
</form>
<style>
  .pcr-button {
    border: 1px solid #efefef;
  }

  .pickr .pcr-button::after {
    border-radius: 0;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {

    const pickers = [
      {
        element: '#primary_color_picker',
        input: '#primary_color_input',
        defaultColor: '#03a4eb'
      },
      {
        element: '#icons_color_picker',
        input: '#icons_color_input',
        defaultColor: '#ffffff'
      },
      {
        element: '#accent_color_picker',
        input: '#accent_color_input',
        defaultColor: '#ff5733'
      },
      {
        element: '#background_color_picker',
        input: '#background_color_input',
        defaultColor: '#000000'
      }
    ];

    pickers.forEach(pickerConfig => {

      const colorPickerElement = document.querySelector(pickerConfig.element);
      const colorInputElement = document.querySelector(pickerConfig.input);
      const pickr = Pickr.create({
        el: colorPickerElement,
        theme: 'classic', // or 'monolith', or 'nano'
        default: pickerConfig.defaultColor,
        lockOpacity: true,
        comparison: false,
        inline: false,
        swatches: [
          'rgba(244, 67, 54, 1)',
          'rgba(233, 30, 99, 1)',
          'rgba(156, 39, 176, 1)',
          'rgba(103, 58, 183, 1)',
          'rgba(63, 81, 181, 1)',
          'rgba(33, 150, 243, 1)',
          'rgba(3, 169, 244, 1)',
          'rgba(0, 188, 212, 1)',
          'rgba(0, 150, 136, 1)',
          'rgba(76, 175, 80, 1)',
          'rgba(139, 195, 74, 1)',
          'rgba(205, 220, 57, 1)',
          'rgba(255, 235, 59, 1)',
          'rgba(255, 193, 7, 1)'
        ],
        components: {
          preview: true,
          opacity: false,
          hue: true,
          interaction: {
            hex: false,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
          }
        }
      });

      pickr.on('change', (color, source, instance) => {
        const hexaColor = color.toHEXA().toString();
        console.log('rgbacolor', hexaColor);
        //document.getElementById('primary_color_picker').style.background = rgbaColor;
        // Store the color value in a hidden input or any other place you need
        colorInputElement.value = hexaColor;
      });

    });
  });
</script>

{% endblock %}
{% block script %}
{% include "./includes/settings_script.html" %}
{% endblock script %}