                <!-- Tabs -->
                <div class="lg:hidden">
                  <label for="selected-tab" class="sr-only">Select a tab</label>
                  <select id="selected-tab" name="selected-tab" class="block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:border-blue-600 focus:outline-none focus:ring-blue-600 sm:text-sm">
                    <option selected>Profile</option>

                    <option>Organization</option>

                    <option>Bandwidhth Usage</option>

                    <option>Password</option>

                  </select>
                </div>
                <div class="hidden lg:block">
                  <div class="border-b border-gray-200">
                    <nav class="flex -mb-px space-x-8">
                      {% for tab in tabs %}
                        {% if page.url.endsWith(tab.url) %}
                          <a href="{{ tab.url }}" class="px-1 py-4 text-sm font-medium text-blue-700 border-b-2 border-blue-600 whitespace-nowrap">{{ tab.name }}</a>
                        {% else %}
                          <a href="{{ tab.url }}" class="px-1 py-4 text-sm font-medium text-gray-500 border-b-2 border-transparent hover:border-gray-300 hover:text-gray-700 whitespace-nowrap">{{ tab.name }}</a>
                        {% endif %}
                      {% endfor %}
                    </nav>
                  </div>
                </div>
