---
slug: video_watermark_settings
tags: testpress
title: Video Watermark settings
date: 2024-09-30
---


{% extends "layouts/admin_base.html" %}

{% block extra_head %}
  {% include "./includes/extra_head.html" %}
{% endblock extra_head %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}

<div class="py-10 max-w-7xl mx-auto lg:px-8">
  {% include "./includes/header.html" %}
  <main>
    <div class="px-4 py-6 sm:px-6 lg:px-8 overflow-x-auto bg-white border-b border-gray-200 shadow sm:rounded-lg">
      {% include "./includes/form.html" %}
    </div>
  </main>
</div>
{% endblock content %}

{% block script %}
  {% include "./includes/scripts.html" %}
{% endblock script %}
