@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --border-width-1\.5: 1.5px;
}

@theme inline {
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground-3: var(--muted-foreground-3);
  --color-line-2: var(--line-2);
}

@source "./authentication/**/*.{html,js}";
@source "./layout/auth_base.html";
@source "./includes/auth_sidebar.html";
@source "../ui-system/components/dropdown.html";
@source "../limeread/scripts/password_component.html";
@source "./node_modules/preline/dist/*.js";

@import "./node_modules/preline/variants.css";
@import "./node_modules/preline/css/themes/theme.css";

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #0768fd;
  --primary-foreground: #ffffff;
  --background: #f8f8fa;
  --foreground: #111827;
  --muted: #f1f2f3;
  --muted-foreground: #545558;
  --border: #dddedf;
  --card: #ffffff;
  --card-foreground: #030304;
  --input: #ffffff;
  --ring: #0061ce;
  --success: #3a9742;
  --success-foreground: #f8f8f8;
  --warning: #c99500;
  --warning-foreground: #0c0b09;
  --danger: #d40924;
  --danger-foreground: #f8f8f8;
  --accent: #009ea1;
  --accent-foreground: #f8f8f8;

  --background-1: #f9fafb;
  --background-2: #f3f4f6;
  --foreground-inverse: #ffffff;

  --primary-50: #ebf4ff;
  --primary-100: #dceaff;
  --primary-200: #b5d5ff;
  --primary-300: #85b8ff;
  --primary-400: #5492ff;
  --primary-500: #2c6fff;
  --primary-600: #0768fd;
  --primary-700: #0050d6;
  --primary-800: #003ca6;
  --primary-900: #063275;
  --primary-950: #042152;
  --primary-hover: #0050d6;
  --primary-focus: #0050d6;

  --layer: #ffffff;
  --layer-line: #e5e7eb;
  --card-line: #e5e7eb;
  --surface: #f3f4f6;
  --surface-foreground: #1f2937;

  --muted-foreground-1: #6b7280;
  --muted-foreground-2: #4b5563;
  --muted-foreground-3: #9ca3af;

  --border-line-2: #e5e7eb;
  --line-2: #e5e7eb;

  --destructive: #ef4444;
}

.dark {
  --primary: #2c6fff;
  --primary-foreground: #ffffff;
  --background: #050607;
  --foreground: #eeeef0;
  --muted: #101214;
  --muted-foreground: #7f8083;
  --border: #202224;
  --card: #0a0b0d;
  --card-foreground: #eeeef0;
  --input: #0a0b0d;
  --ring: #0081f1;
  --success: #4aa651;
  --success-foreground: #f8f8f8;
  --warning: #d9a514;
  --warning-foreground: #0c0b09;
  --danger: #e62b34;
  --danger-foreground: #f8f8f8;
  --accent: #00aeb1;
  --accent-foreground: #f8f8f8;
  --background-1: #171717;
  --background-2: #171717;

  --primary-50: #ebf4ff;
  --primary-100: #dceaff;
  --primary-200: #b5d5ff;
  --primary-300: #85b8ff;
  --primary-400: #5492ff;
  --primary-500: #2c6fff;
  --primary-600: #0768fd;
  --primary-700: #0050d6;
  --primary-800: #003ca6;
  --primary-900: #063275;
  --primary-950: #042152;
  --primary-hover: #0768fd;
  --primary-focus: #0768fd;

  --layer: #262626;
  --layer-line: #404040;
  --card-line: #404040;
  --surface: #404040;
  --surface-foreground: #e5e5e5;

  --muted-foreground-1: #a3a3a3;
  --muted-foreground-2: #d4d4d4;
  --muted-foreground-3: #737373;

  --border-line-2: #404040;
  --line-2: #404040;

  --destructive: #ef4444;
}
