<div class="hs-tooltip inline-block">
  <svg class="hs-tooltip-toggle shrink-0 ms-1 size-3 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
  </svg>
  <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-60 p-4 w-96 bg-white rounded-xl shadow-xl dark:bg-neutral-900 dark:text-neutral-400" role="tooltip">
    <p class="font-medium text-gray-800 dark:text-neutral-200">Password requirements:</p>
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-neutral-400">Ensure that these requirements are met:</p>
    <ul class="mt-1 ps-3.5 list-disc list-outside text-sm font-normal text-gray-500 dark:text-neutral-400">
      <li>Minimum 8 characters long - the more, the better</li>
      <li>At least one lowercase character</li>
      <li>At least one uppercase character</li>
      <li>At least one number, symbol, or whitespace character</li>
    </ul>
  </div>
</div>
