<div class="xl:col-span-4">
  <div
    class="flex flex-col bg-white border border-gray-200 rounded-xl shadow-sm xl:shadow-none dark:bg-neutral-800 dark:border-neutral-700">
    <!-- Header -->
    <div class="p-5 pb-0 flex justify-between items-center gap-2">
      <h2 class="inline-block font-semibold text-gray-800 dark:text-neutral-200">
        Schedules
      </h2>

      <button id="schedules" type="button"
        class="p-2 inline-flex items-center text-xs font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
        aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
        <svg class="shrink-0 me-2 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect>
          <line x1="16" x2="16" y1="2" y2="6"></line>
          <line x1="8" x2="8" y1="2" y2="6"></line>
          <line x1="3" x2="21" y1="10" y2="10"></line>
          <path d="M8 14h.01"></path>
          <path d="M12 14h.01"></path>
          <path d="M16 14h.01"></path>
          <path d="M8 18h.01"></path>
          <path d="M12 18h.01"></path>
          <path d="M16 18h.01"></path>
        </svg>
        Today
        <svg class="shrink-0 ms-1.5 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="p-5 space-y-3">
      {% for schedule in schedules.slice(0,2) %}

      <ul
        class="flex flex-col bg-white border border-gray-200 rounded-xl -space-y-px dark:bg-neutral-800 dark:border-neutral-700">
        <!-- List Item -->
        <li class="border-t border-gray-200 first:border-t-0 dark:border-neutral-700">
          <div class="p-3 ps-0 flex flex-col sm:flex-row sm:items-center gap-y-2 sm:gap-y-0 sm:gap-x-3">
            <div class="sm:order-2 sm:ms-auto ps-3 sm:ps-0">
              {% if schedule.is_attending %}
              <button type="button"
                class="py-1.5 px-2 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                Attending
              </button>
              {% else %}
              <button type="button"
                class="py-1.5 px-2 inline-flex items-center gap-x-1 text-xs rounded-lg border border-green-600 text-green-600 hover:border-green-500 hover:text-green-500 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-700 dark:border-green-500 dark:text-green-500 dark:hover:text-green-400 dark:hover:border-green-400 dark:focus:border-green-600">
                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5v14"></path>
                </svg>
                Attend
              </button>
              {% endif %}
            </div>
            <div class="sm:order-1">
              <button type="button"
                class="ps-[13px] -ms-px group block text-start border-s-[3px] border-red-500 focus:outline-none"
                data-hs-overlay="#hs-pro-deem">
                <span
                  class="block text-start text-sm font-medium text-gray-800 group-hover:text-green-600 group-focus:text-green-600 dark:group-hover:text-green-500 dark:group-focus:text-green-500 dark:text-neutral-200">
                  {{schedule.time_slot}}
                </span>
                <span class="block text-sm text-gray-600 dark:text-neutral-400">
                  {{schedule.subject}} → {{schedule.topic}}
                </span>
              </button>
            </div>
          </div>
        </li>
        <!-- End List Item -->



        <!-- List Item -->
        <li class="border-t border-gray-200 first:border-t-0 dark:border-neutral-700">
          <div class="p-3 flex items-center gap-x-3">
            <h4 class="text-sm text-gray-600 dark:text-neutral-400">
              Room
            </h4>
            <div class="ms-auto px-2 inline-flex items-center gap-x-3 text-sm text-gray-800 dark:text-neutral-200">
              {{schedule.room}}
            </div>
          </div>
        </li>
        <li class="border-t border-gray-200 first:border-t-0 dark:border-neutral-700">
          <div class="p-3 flex items-center gap-x-3">
            <h4 class="text-sm text-gray-600 dark:text-neutral-400">
              Batches
            </h4>
            <div class="ms-auto">
              <div class="flex items-center space-x-2">
                {% for batch in schedule.batches %}
                <span
                  class="m-1 p-2 inline-block bg-gray-100 text-gray-800 text-xs rounded-md dark:bg-neutral-700 dark:text-neutral-200">{{batch}}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
        <!-- End List Item -->
      </ul>
      {% endfor %}
      <div class="mt-5 flex flex-wrap justify-end items-center gap-2">


        <a class="inline-flex items-center gap-x-1 text-sm text-green-600 decoration-2 hover:underline focus:outline-none focus:underline dark:text-green-400 dark:hover:text-green-500"
          href="#">
          View overall schedules
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </a>
      </div>
    </div>
    <!-- End Body -->
  </div>
</div>