---
slug: assignment-chapter-content
tags: testpress
title: Assignment Chapter Content
date: 2025-01-28
---
hello
{% extends "layouts/admin_base.html" %}
{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}
{% block content %}
<div class="max-w-7xl mx-auto xl:px-8 py-8 lg:grid lg:grid-cols-12 lg:gap-x-5">
  <div class="lg:px-0 lg:col-span-9 px-4">
    {% include "partials/course_breadcrumb.html" %}
    <div>
      {% include './includes/header.html' %}
      {% include './includes/form.html' %}
    </div>
  </div>
</div>
{% endblock %}