<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8 bg-gray-100">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    {% include "./handshake.html" %}

    <div class="text-center mt-10 mb-8">
      <h1 id="title" class="text-3xl font-semibold text-[#828282]">
        Connect an app
      </h1>
      <p class="mt-4 text-center text-base text-gray-900">
        <strong>{{ client_name }}</strong>
        wants to connect to
        <strong>{{ institute_name }}</strong>
        as
        <strong id="user">{{ username }}</strong>.
      </p>
    </div>

    <div class="bg-white py-8 px-4 shadow-md rounded-lg sm:px-10">
      {% include "./consent_form.html" %}
    </div>

    {% include "./spec_notes.html" %}
  </div>
</div>
