---
slug: analytics
tags: testpress
title: Overall Analytics
---

{% extends "layouts/student_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
  {% include "partials/student_navbar.html" %}

  <div class="py-10 max-w-7xl mx-auto lg:px-8">
    {% include './includes/header.html' %}
    <main class="pt-8">
      <div class="sm:px-6 lg:px-8 pb-6 bg-white border-b border-gray-200 shadow sm:rounded-lg" x-data="getAnalyticsUIData()">
        {% include './includes/breadcrumbs.html' %}
        {% if subject_analytics.length %}
          {% include './includes/tabs.html' %}
          <div x-cloak x-show="activeTabOrder == 0">
            {% include './tabular_reports.html' %}
          </div>

          <div x-cloak x-show="activeTabOrder == 1">
            {% include './graphical_reports.html' %}
          </div>
        {% else %}
          {% include './includes/empty.html' %}
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}


{% block script %}
  {{block.super}}
  {% include "./includes/analytics_scripts.html" %}
{% endblock script %}
