---
slug: analytics
tags: testpress
title: Overall Analytics
---

{% extends "layouts/student_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
  <div class="sm:py-10 max-w-7xl mx-auto lg:px-8">
    <main class="sm:pt-8">
      <div class="sm:px-6 lg:px-8 pb-6 bg-white border-b border-gray-200 shadow sm:rounded-lg">
        {% include './includes/header_tabs.html' %}

        <div>
          <main>
            <div class="px-4 sm:px-6 lg:px-8">
              <div class="sm:mt-8 flow-root">
                <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
                  <div class="inline-block min-w-full py-2 align-middle">
                    {% include './includes/overall_analytics_inner_desktop.html' %}
                    {% include './includes/overall_analytics_inner_mobile.html' %}
                    {% include './includes/pagination.html' %}
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </main>
  </div>
  
{% endblock %}
