<div class="sm:p-0 p-4 sm:w-1/2 w-full flex flex-col">
  <div class="flex-1 min-h-0">
    <div class="h-full overflow-y-auto">
      <div class="sm:mx-12 sm:my-4 mx-4" id="right"  x-data="{'markForReview':false,'enableCrossAnswer':false}">
        {% include "../includes/question_header.html" %}
        <p class="text-md md:text-xl xl:text-2xl font-serif text-gray-700">Which choice completes the text with the most logical and precise word or phrase?</p>
        {% include "./answers.html" %}
      </div>
    </div>
  </div>
</div>