---
member_view: "Library"
permalink: limeread/member_library/
tags: limeread
---

{% extends "../layouts/member_base.html" %}

{% block body_class %}bg-background text-foreground transition-colors duration-300 antialiased{% endblock %}
{% block main_content %} space-y-5 mx-auto p-4 sm:p-6 lg:p-8 {% endblock %}
{% block content %} 
  {% include "./includes/list_heading.html" %}
  {% include "./includes/subject_filter.html" %}
  {% include "./includes/books.html" %}
{% endblock content %}

{% block extra_scripts %}
{% include "./includes/script.html" %}
{% endblock %}
