{% extends "src/flimix/staff_base.html" %}

{% block html_class %}h-full bg-white{% endblock html_class %}
{% block body_class %}h-full{% endblock body_class %}

{% block content %}
<div x-data="{openMobileSidebar: false}" @keydown.window.escape="openMobileSidebar = false">
  {% include "src/flimix/partials/mobile_sidebar.html" %}
  {% include "src/flimix/partials/desktop_sidebar.html" %}
  <div class="lg:pl-72">
    {% include "src/flimix/partials/header.html" %}
    <main class="py-10 {% block main_class %} {% endblock %}">
      <div class="mx-auto px-4 sm:px-6 lg:px-8">
        {% block main_content %}
        {% endblock main_content %}
      </div>
    </main>
  </div>
</div>
{% endblock content %}
