{% extends "./base.html" %}


{% block content %}
  <body class="{% block body_class %}bg-gray-50  dark:bg-neutral-900{% endblock body_class %}">
     {% include "./viewer_header.html"%}
     {% include "./viewer_aside.html"%}
    <main id="content" class="pt-[3.75rem] lg:ps-[16.25rem]">
      <div class="p-2 sm:p-5 min-h-[90vh] space-y-5">
    {% block main_content %}
    {% endblock main_content %}
      </div>
    </main>
    {% include "./global_search_modal.html"%}
  </body>
{% endblock content %}
