---
slug: rodha_registration
title: Rodha Registration
date: 2025-04-17
---


{% extends "layouts/base.html" %}

{% block head %}
<style>
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}


.custom-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto; 
}

@media (max-width: 1320px) {
  .custom-container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .custom-container {
    max-width: 100%;
  }
}

</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@7.0.1/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@7.0.1/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


{% block extra_head %} {% endblock extra_head %}
{% endblock head %}


{% block body %}
<body>
  <div class="bg-black">
    {% include "./includes/nav_bar.html" %}
    {% include "./includes/registration_form.html" %}
    {% include "./includes/carousel.html" %}
    {% include "./includes/footer.html" %}

    {% block content %} {% endblock content %}
    {% block script %} {% endblock script %}
  </div>
</body>

{% endblock body %}

