<div class="min-w-full inline-block align-middle divide-y divide-gray-100 dark:divide-neutral-700">
  {% for book in member_bookmarks.bookmarked_books %}
  <a href="#" @click.prevent="$dispatch('open-drawer-book-bookmarks-drawer-{{ loop.index }}')" class="cursor-pointer group block py-4 px-4 -mx-4 bg-card hover:bg-layer-hover transition-colors focus:outline-none md:grid md:grid-cols-12 md:gap-x-4 relative">
    
    <!-- Main content: cover + title + bookmarks position -->
    <div class="md:col-span-11">
      <div class="flex gap-x-4 items-start md:items-center">
        <!-- Cover -->
        <div class="shrink-0">
          <img src="{{ book.cover_image }}" alt="{{ book.title }} Cover" class="w-12 h-16 object-cover rounded border border-layer-line shadow-sm bg-gray-50 dark:bg-neutral-800 text-transparent">
        </div>

        <!-- Right Side -->
        <div class="flex-1 min-w-0 md:grid md:grid-cols-11 md:gap-x-4 lg:gap-x-8">

          <!-- Title & Metadata -->
          <div class="md:col-span-5 lg:col-span-6 min-w-0 pr-6 md:pr-0">
            <div class="flex items-center flex-wrap gap-x-2 mb-1">
              <span class="block font-medium text-foreground truncate">
                {{ book.title }}
              </span>
              {% if book.status == 'Expired' %}
                <span class="inline-flex items-center rounded-full px-1.5 py-0.5 text-xs font-medium bg-red-100 text-red-800 dark:bg-red-900/30 dark:text-red-500">
                  Expired
                </span>
              {% elif book.status == 'Returned' %}
                <span class="inline-flex items-center rounded-full px-1.5 py-0.5 text-xs font-medium bg-gray-100 text-gray-800 dark:bg-neutral-800/30 dark:text-neutral-400">
                  Returned
                </span>
              {% endif %}
            </div>
            <ul class="flex flex-wrap items-center whitespace-nowrap gap-1.5">
              <li class="inline-flex items-center relative text-sm text-muted-foreground-1 pe-2 last:pe-0 last:after:hidden after:absolute after:top-1/2 after:end-0 after:inline-block after:size-[3px] after:bg-surface-3 after:rounded-full after:-translate-y-1/2">
                <p class="text-sm text-muted-foreground-1">{{ book.course }}</p>
              </li>
              <li class="inline-flex items-center relative text-sm text-muted-foreground-1 pe-2 last:pe-0 last:after:hidden after:absolute after:top-1/2 after:end-0 after:inline-block after:size-[3px] after:bg-surface-3 after:rounded-full after:-translate-y-1/2">
                <p class="text-sm text-muted-foreground-1">{{ book.subject }}</p>
              </li>
            </ul>

            <div class="mt-2 md:hidden">
              <span class="block text-sm text-foreground">
                {{ book.bookmarks_count }} bookmarks
              </span>
              <ul class="flex flex-wrap items-center whitespace-nowrap gap-1.5 mt-0.5">
                <li class="inline-flex items-center relative text-sm text-muted-foreground-1 pe-2 last:pe-0">
                  <p class="text-sm text-muted-foreground-1">Last bookmarked <time datetime="{{ book.last_bookmarked_at }}">{{ book.last_bookmarked_at | formatDate }}</time></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="hidden md:flex flex-col justify-center md:col-span-6 lg:col-span-5">
            <span class="block text-sm text-foreground">
              {{ book.bookmarks_count }} bookmarks
            </span>
            <ul class="flex flex-wrap items-center whitespace-nowrap gap-1.5 mt-1">
              <li class="inline-flex items-center relative text-sm text-muted-foreground-1 pe-2 last:pe-0">
                <p class="text-sm text-muted-foreground-1">Last bookmarked <time datetime="{{ book.last_bookmarked_at }}">{{ book.last_bookmarked_at | formatDate }}</time></p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- Desktop Arrow -->
    <div class="hidden md:flex shrink-0 items-center md:col-span-1 md:justify-end text-muted-foreground-1">
      <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5 flex-none">
        <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>

    <!-- Mobile Arrow -->
    <div class="md:hidden absolute right-4 top-1/2 -translate-y-1/2 text-muted-foreground-1">
      <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-5 flex-none">
        <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>

  </a>
  
  {% include "./includes/bookmarks_drawer.html" %}

  {% endfor %}
</div>
