---
permalink: flimix/zoom/
tags: flimix

---

{% extends "src/flimix/layouts/viewer_layout.html" %}
{% block main_class %}bg-stone-50 min-h-[92vh]{% endblock %}

{% block extra_head %}

{% endblock extra_head %}

{% block main_content %}
<div class="max-w-[85rem] p-4 sm:p-5 md:pt-5 lg:px-8 mx-auto">
  {% include "./header.html" %}
  <div>
    {% include "./live_sessions.html" %}
    {% include "./upcoming_sessions.html" %}
    {% include "./past_sessions.html" %}
  </div>
</div>
{% include "./filters.html" %}
{% endblock main_content %}


