---
content_type: live_stream
---

{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}
{% block content %}
<div class="py-10 max-w-7xl mx-auto lg:px-8 px-4" x-data="{ previewPath: window.location.pathname.match(/(\/pr-preview\/pr-\d+)?/)[0] || '' }">
  {% include "../includes/breadcrumbs.html" %}
	{% include "../includes/header.html" %}
  {% include "../includes/student_course_stats.html" %}
  {% include "src/student_course_performance/live_stream/table.html" %}
</div>
{% endblock %}

{% block script %}
    {% include "src/flimix/utils/alpine_multiselect.html" %}
    <script src="/node_modules/preline/dist/preline.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript">
  $(function () {
    $('#start-date').daterangepicker({
      "singleDatePicker": true,
      "autoApply": true,
      "opens": "left"
    });
  });
  $(function () {
    $('#end-date').daterangepicker({
      "singleDatePicker": true,
      "autoApply": true,
      "opens": "left"
    });
  });
</script>
{% endblock script %}