---
title: Award Condition
permalink: "/certificates/templates/1/award-condition/"
date: 2023-10-06
---


{% extends "layouts/admin_base.html" %}
{% from "../../../ui-system/components/date-picker.html" import date_picker %}
{% from "../../../ui-system/components/button.html" import button %}
{% from "../../../ui-system/components/card.html" import card %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
  <div class="py-10 max-w-5xl mx-auto lg:px-8" x-data="{currentStep: 3}">
    {% set current_step = 3 %}
    {% include './includes/header.html' %}

    <main class="pt-8">
      {% call card(padding="px-4 py-6 sm:px-6 lg:px-8", shadow=true, extra_classes="overflow-hidden rounded-none lg:rounded-lg") %}
        <form method="post" action="" enctype="multipart/form-data">
          <div class="space-y-12 sm:space-y-16">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900">Award Condition</h2>
              <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">When should the certificate be awarded to users?</p>
        
              <div class="mt-6 space-y-8 pb-12 sm:space-y-0 sm:border-t sm:pb-0">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                  <label for="award_date" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Award certificate on</label>
                  <div class="mt-2 sm:col-span-2 sm:mt-0 sm:max-w-xs">
                    {{ date_picker(name="award_date", id="award_date", min_date="today", selected_value="01/11/2023") }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="mt-6 flex items-center justify-end gap-x-6">
            {{ button(text="Previous", variant="ghost", href='/certificates/templates/1/context'|url, extra_classes="!font-semibold !text-gray-900") }}
            {{ button(text="Save and Next", variant="primary", href='/certificates/templates/1/preview'|url, extra_attrs='type="submit"') }}
          </div>
        </form>
      {% endcall %}
    </main>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  {% include "../../../ui-system/scripts/date_picker_script.html" %}
{% endblock script %}
