---
tags: simba
role: "Franchise Head"
view: "Registrations"
date: 2024-08-20
parent_page: Registrations
current_page: Overview
user:
  first_name: James
  category: staff
  franchisemember: true
---

{% extends "../base.html" %} {% block title %} Registrations | Simba {% endblock title %} {% block content %}
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  {% include '../partials/breadcrumb.html' %}
  <div class="py-2 sm:pb-0 sm:pt-5 space-y-5">
    {% include './includes/header.html' %}
    <div class="p-5 flex flex-col bg-white border border-stone-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
      {% include './includes/filter_tab.html' %}
      {% include './includes/table.html' %}
    </div>
  </div>
</div>

<!-- Models -->


<!-- End Models -->
{% endblock content %}
{% block extra_head %}
<link href="{{'/node_modules/@themesberg/tailwind-datepicker/dist/css/datepicker.min.css'|url}}" rel="stylesheet">
<style>
  .datepicker{
    z-index: 80 !important
  }
</style>
{% endblock extra_head %}


{% block extra_scripts %}
<script src="/node_modules/preline/dist/preline.js"></script>
<script src="{{'/node_modules/clipboard/dist/clipboard.min.js'|url}}"></script>
<script src="{{'/node_modules/preline/dist/helper-clipboard.js'|url}}"></script>
{% endblock extra_scripts %}