@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-50:  #eef6ff;
  --color-primary-100: #d8ebff;
  --color-primary-200: #badcff;
  --color-primary-300: #8ac8ff;
  --color-primary-400: #54aaff;
  --color-primary-500: #2c88ff;
  --color-primary-600: #1469fb;
  --color-primary-700: #0e53e7;
  --color-primary-800: #1243bb;
  --color-primary-900: #153d93;
  --color-primary-950: #122659;
}

@source "..";
@source "../../node_modules/preline/dist/*.js";

@import "../../node_modules/preline/variants.css";
@import "../../node_modules/preline/css/themes/theme.css";

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-50: #eef6ff;
  --primary-100: #d8ebff;
  --primary-200: #badcff;
  --primary-300: #8ac8ff;
  --primary-400: #54aaff;
  --primary-500: #2c88ff;
  --primary-600: #1469fb;
  --primary-700: #0e53e7;
  --primary-800: #1243bb;
  --primary-900: #153d93;
  --primary-950: #122659;

  --color-primary-50: #eef6ff;
  --color-primary-100: #d8ebff;
  --color-primary-200: #badcff;
  --color-primary-300: #8ac8ff;
  --color-primary-400: #54aaff;
  --color-primary-500: #2c88ff;
  --color-primary-600: #1469fb;
  --color-primary-700: #0e53e7;
  --color-primary-800: #1243bb;
  --color-primary-900: #153d93;
  --color-primary-950: #122659;
}
