<div id="hs-report-filter-offcanvas" class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full w-full sm:w-[360px] z-[80] flex flex-col bg-white border-s border-gray-200 dark:bg-neutral-800 dark:border-neutral-700 !m-0" role="dialog" tabindex="-1" aria-labelledby="hs-report-filter-offcanvas-label">
  <div class="py-3 px-4 flex justify-between items-center border-b border-gray-200 dark:border-neutral-700">
    <h3 id="hs-report-filter-offcanvas-label" class="font-medium text-gray-800 dark:text-neutral-200">
      Filter Report Cards
    </h3>
    <button type="button" class="size-8 shrink-0 flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-200 dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600" aria-label="Close" data-hs-overlay="#hs-report-filter-offcanvas">
      <span class="sr-only">Close</span>
      <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </button>
  </div>
  <div class="h-[calc(100%-58px)] flex flex-col">
    <div class="h-full p-5 overflow-y-auto overflow-hidden [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-none [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-gray-200 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-700">
      
      <div class="pb-5 mb-5 last:pb-0 last:mb-0 border-b last:border-b-0 border-gray-200 dark:border-neutral-700">
        <label class="font-semibold text-xs uppercase text-gray-800 dark:text-neutral-200">
          Course
        </label>

        <div class="mt-3 relative">
          <select data-hs-select='{
            "placeholder": "All Courses",
            "hasSearch": true,
            "searchPlaceholder": "Search courses...",
            "searchClasses": "block w-full text-sm border-gray-200 rounded-lg focus:border-emerald-500 focus:ring-emerald-500 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 py-2 px-3",
            "searchWrapperClasses": "bg-white p-2 -mx-1 sticky top-0 dark:bg-neutral-900",
            "toggleTag": "<button type=\"button\" aria-expanded=\"false\"><span data-title></span></button>",
            "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2 px-4 pe-9 flex text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm text-gray-800 focus:outline-hidden focus:ring-2 focus:ring-emerald-600 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200 dark:focus:outline-hidden dark:focus:ring-1 dark:focus:ring-neutral-600",
            "dropdownClasses": "mt-2 max-h-72 pb-1 px-1 pt-0 space-y-0.5 z-20 w-full bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[::-webkit-scrollbar-track]:bg-neutral-700 dark:[::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700",
            "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-hidden focus:bg-gray-100 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800",
            "optionTemplate": "<div><div class=\"flex items-center\"><div class=\"text-gray-800 dark:text-neutral-200 \" data-title></div></div></div>",
            "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 dark:text-neutral-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>",
            "preventSearchFocus": false
          }' class="hidden">
            <option value="all">All Courses</option>
            <option value="SAT Foundation">SAT Foundation</option>
            <option value="SAT Weekly">SAT Weekly</option>
            <option value="JEE Mains Advance">JEE Mains Advance</option>
            <option value="Class 10 Science">Class 10 Science</option>
            <option value="Physics Lab">Physics Lab</option>
            <option value="English Literature">English Literature</option>
            <option value="Annual Sports">Annual Sports</option>
            <option value="Class 11 Career Guidance">Class 11 Career Guidance</option>
            <option value="Social Service Club">Social Service Club</option>
            <option value="Python Basics">Python Basics</option>
            <option value="Foundational Art">Foundational Art</option>
          </select>
        </div>
        <p class="mt-4">
          <button type="button" class="py-1.5 px-2.5 inline-flex items-center gap-x-1 text-xs font-medium rounded-full bg-white border border-dashed border-gray-200 text-gray-600 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            Clear
          </button>
        </p>
      </div>
      <div class="pb-5 mb-5 last:pb-0 last:mb-0 border-b last:border-b-0 border-gray-200 dark:border-neutral-700">
        <label class="font-semibold text-xs uppercase text-gray-800 dark:text-neutral-200">
          Performance
        </label>

        <div class="mt-3 space-y-2">
          <div class="flex items-start">
            <input type="checkbox" class="shrink-0 mt-0.5 size-4 bg-transparent border-gray-300 rounded-sm text-emerald-600 focus:ring-emerald-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-emerald-500 dark:checked:border-emerald-500 dark:focus:ring-offset-gray-800" id="hs-filter-perf-1">
            <label for="hs-filter-perf-1" class="ms-3 text-sm text-gray-600 dark:text-neutral-400 flex items-center gap-x-1.5">
              Excellent <span class="text-xs text-gray-400 dark:text-neutral-500">(>= 90%)</span>
            </label>
          </div>
          <div class="flex items-start">
            <input type="checkbox" class="shrink-0 mt-0.5 size-4 bg-transparent border-gray-300 rounded-sm text-emerald-600 focus:ring-emerald-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-emerald-500 dark:checked:border-emerald-500 dark:focus:ring-offset-gray-800" id="hs-filter-perf-2" checked>
            <label for="hs-filter-perf-2" class="ms-3 text-sm text-gray-600 dark:text-neutral-400 flex items-center gap-x-1.5">
              Very Good <span class="text-xs text-gray-400 dark:text-neutral-500">(75% - 89%)</span>
            </label>
          </div>
          <div class="flex items-start">
            <input type="checkbox" class="shrink-0 mt-0.5 size-4 bg-transparent border-gray-300 rounded-sm text-emerald-600 focus:ring-emerald-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-emerald-500 dark:checked:border-emerald-500 dark:focus:ring-offset-gray-800" id="hs-filter-perf-3">
            <label for="hs-filter-perf-3" class="ms-3 text-sm text-gray-600 dark:text-neutral-400 flex items-center gap-x-1.5">
              Satisfactory <span class="text-xs text-gray-400 dark:text-neutral-500">(50% - 74%)</span>
            </label>
          </div>
          <div class="flex items-start">
            <input type="checkbox" class="shrink-0 mt-0.5 size-4 bg-transparent border-gray-300 rounded-sm text-emerald-600 focus:ring-emerald-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-emerald-500 dark:checked:border-emerald-500 dark:focus:ring-offset-gray-800" id="hs-filter-perf-4">
            <label for="hs-filter-perf-4" class="ms-3 text-sm text-gray-600 dark:text-neutral-400 flex items-center gap-x-1.5">
              Needs Improvement <span class="text-xs text-gray-400 dark:text-neutral-500">(< 50%)</span>
            </label>
          </div>
        </div>

        <p class="mt-4">
          <button type="button" class="py-1.5 px-2.5 inline-flex items-center gap-x-1 text-xs font-medium rounded-full bg-white border border-dashed border-gray-200 text-gray-600 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            Clear
          </button>
        </p>
      </div>
      </div>
    <div class="p-5 border-t border-gray-200 dark:border-neutral-700">
      <div class="flex items-center gap-x-2">
        <button type="button" class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg bg-white border border-gray-200 text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
          <svg class="hidden sm:block shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          Clear all filters
        </button>

        <button type="button" class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg bg-emerald-600 border border-transparent text-white hover:bg-emerald-700 focus:outline-hidden focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 dark:focus:ring-offset-neutral-800" data-hs-overlay="#hs-report-filter-offcanvas">
          Apply
        </button>
      </div>
    </div>
    </div>
  </div>