---
currentStepper: 3
previousUrl: "/test_generation/question_type_filter/"
nextUrl: "/test_generation/filter_preview/"
subject: "Physics"
---

{% extends "layouts/student_base.html" %}

{% block content %}
<div class="hidden sm:block">
	{% include "partials/student_navbar.html" %}
  </div>
<div class="bg-gray-50 h-screen select-none" x-data>
  <div class="pt-8 mx-auto max-w-5xl sm:px-6 lg:px-8 h-full flex flex-col flex-grow">
  	{% include "./includes/page_header.html" %} 
  	{% include "./includes/question_form.html" %} 
  	{% include "./includes/navigations.html" %}
  </div>
</div>
{% endblock %}
