---
currentStepper: 4
previousUrl: "/test_generation/subject_filter/"
nextUrl: "/test_generation/filter_preview/"
---

{% extends "layouts/student_base.html" %}

{% block content %}
<div class="bg-gray-50 h-screen select-none" x-data>
  <div class="mx-auto max-w-5xl sm:px-6 lg:px-8 h-full flex flex-col flex-grow">
    {% include "./includes/stepper.html" %} 
    {% include "./includes/subject_question_configuration_form.html" %}
    {% include "./includes/navigations.html" %}
  </div>
</div>
{% endblock %}
