{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
  <div class="py-10 max-w-7xl mx-auto xl:px-8" x-data="batchDetailData">
    {% include "./includes/header.html" %}
    <main class="pt-8">
      <div class="pb-6 overflow-hidden bg-white sm:rounded-lg">
      <div class="bg-white">
        <div>          
          <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <section aria-labelledby="products-heading" class="pt-3">
              <h2 id="products-heading" class="sr-only">Products</h2>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                <div class="lg:col-span-4">
                  {% include "./includes/list_tabs.html" %}
                  {% include './includes/assigned_users.html' %}
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block script %}
  {{block.super}}
  {% include "./includes/scripts/batch_detail_scripts.html" %}
{% endblock script %}
