---
permalink: tpstreams/settings/staff_management/roles/
tags: tpstreams
---

{% extends "src/tpstreams/settings/base.html" %}

{% block settings %}

<div class="mt-10">
    {% include "./breadcrumbs.html" %}
    {% include "./header.html" %}
    <div class="space-y-4 flex flex-col bg-white border border-stone-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700 mt-5">
        {% include "./filter.html" %}
        <!-- Tab Content -->
        <div id="hs-pro-tabs-dut-all" role="tabpanel" aria-labelledby="hs-pro-tabs-dut-item-all" style="margin-top: 0">
            <!-- Table Content -->
            <div class="overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
                <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <!-- Table -->
                    <table class="min-w-full divide-y divide-gray-300">
                    {% include "./table_header.html" %}
    
                    <tbody class="divide-y divide-stone-200 dark:divide-neutral-700">
                        {% include "./table_item.html" %}
                        {% include "./pagination.html" %}
                    </tbody>
                    </table>
                    <!-- End Table -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://preline.co/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="https://preline.co/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="https://preline.co/assets/js/hs-copy-clipboard-helper.js"></script>
{% endblock script %}