<div class="nav-container row">
  <a class="institute-logo-container" href="/" data-original-title="" title="">

    <img class="institute-logo"
      src="https://d36vpug2b5drql.cloudfront.net/institute/lmsdemo/institutes/lms-demo/04b4bfac6d89438293e9edc130e16b10.jpg">

  </a>
  <ul class="nav nav-pills top-menu pull-left">

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/admin/courses/" data-original-title="" title="">
        <i class="icon-book"></i> Courses
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/exams/running/" data-original-title="" title="">
        <i class="icon-signup"></i> Exams
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/set/" data-original-title="" title="">
        <i class="icon-list"></i> Questions
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/products/approved/" data-original-title="" title="">
        <i class="icon-archive"></i> Store
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="#" data-original-title="" title="">
        <i class="icon-group"></i> Memberships
      </a>

      <div x-show="showDropDown" @click.away="showDropDown=false"
        style="position: absolute; z-index: 1; background: white; border: 2px solid whitesmoke; border-radius: 10px; display: none;">
        <div style="display:flex; flex-direction:column; margin:10px; margin-top:4px">

          <a href="/members/" class="" data-original-title="" title="">Members Management</a>

          <a href="/members/batches/" class="" data-original-title="" title="">Batch Management</a>

          <a href="/admin/roles/" class="" data-original-title="" title="">Roles Management</a>

        </div>
      </div>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/admin/posts/" data-original-title="" title="">
        <i class="icon-edit"></i> Posts
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/admin/discussions/new/" data-original-title="" title="">
        <i class="icon-comments-alt"></i> Forum
      </a>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="#" data-original-title="" title="">
        <i class="icon-file-text"></i> Evaluate
      </a>

      <div x-show="showDropDown" @click.away="showDropDown=false"
        style="position: absolute; z-index: 1; background: white; border: 2px solid whitesmoke; border-radius: 10px; display: none;">
        <div style="display:flex; flex-direction:column; margin:10px; margin-top:4px">

          <a href="/evaluate/chapter-content-attempts/pending/" class="" data-original-title="" title="">Exam
            Evaluations</a>

          <a href="/evaluate/assignment-attempts/pending/" class="" data-original-title="" title="">Assignment
            Evaluations</a>

        </div>
      </div>

    </li>

    <li class="" x-data="{showDropDown:false}" @click="showDropDown=!showDropDown">
      <a href="/admin/tickets/?assigned=0&amp;ai_response=false" data-original-title="" title="">
        <i class="fa fa-ticket"></i> Queries
      </a>

    </li>

  </ul>
  <ul class="pull-right settings-menu" style="display: flex">
    <li><span class="headwayapp"><span id="HW_badge_cont" class="HW_badge_cont HW_visible" style=""><span id="HW_badge"
            class="HW_badge HW_softHidden" style="" data-count-unseen=""></span></span></span></li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        data-original-title="" title="">
        <img class="img-rounded" style="height: 22px;margin-right:4px;"
          src="https://d36vpug2b5drql.cloudfront.net/institute/lmsdemo/user_profiles/74/5099918992e94506a6500d663f3fb535.jpeg">

        Support
        <span class="caret" style="margin-left: 4px; margin-top:9px;"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="#" data-original-title="" title="">Signed in as <br><strong>Support</strong></a></li>
        <li class="divider"></li>
        <li><a href="/admin/comments/new/" data-original-title="" title=""><i class="icon-comments"></i> Comments</a>
        </li>
        <li><a href="/settings/profile/" data-original-title="" title=""><span class="icon-wrench"></span> Settings</a>
        </li>
        <li><a href="/logout/" data-original-title="" title=""><span class="icon-signout"></span> Logout</a></li>
      </ul>
    </li>
  </ul>

</div>