<table class="min-w-full divide-y divide-gray-200"  x-data="{'selected': null,'showLoader':false}">
  {% include "./table_header.html" %}
  <tbody class="divide-y divide-gray-200 bg-white">
    {% for chapter_content_feedback in chapter_content_feedbacks %}
    <tr class="cursor-pointer select-none" :class="{ 'bg-gray-100': `{{chapter_content_feedback.id}}`== selected}" @click.once='showLoader=true;setTimeout(function () {showLoader=false;}, 600);' @click="selected !== `{{chapter_content_feedback.id}}` ? selected = `{{chapter_content_feedback.id}}` : selected = null">
        {% include "./display_table_items.html"%}
    </tr>

    <tr x-cloak x-show="selected == {{chapter_content_feedback.id}}">
      <td colspan="6">
        <template x-if="showLoader">
          {% include "./loader.html" %}
        </template>
        <template x-if="!showLoader">
          {% include "../list_item_dropdown.html" %}
        </template>
      </td>
    </tr>
    
    {% endfor %}

    {% if not chapter_content_feedbacks %}
    <tr>
      <td colspan="6" class="p-8 text-center text-sm">No Feedbacks</td>
    </tr>
    {% endif %}
  </tbody>
</table>
