<noscript>
  <div class="mt-2 mb-3 bg-blue-50 border border-blue-500 text-sm text-gray-500 rounded-lg p-5 dark:bg-blue-600/10 dark:border-blue-700"
       role="alert"
       tabindex="-1"
       aria-labelledby="hs-dismiss-label">
    <div class="flex">
      <svg class="shrink-0 size-4 text-blue-600 mt-0.5 dark:text-white"
           xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M12 16v-4" />
        <path d="M12 8h.01" />
      </svg>
      <div class="ms-3">
        <h3 id="hs-dismiss-label"
            class="text-blue-600 font-semibold dark:font-medium dark:text-white">Requires JS</h3>
        <p class="mt-2 text-gray-800 dark:text-neutral-400">
          JavaScript is required to use this form. Please enable JavaScript in your browser settings.
        </p>
      </div>
    </div>
  </div>
</noscript>
