---
title: Mentor - Roles
permalink: "/roles/details/"
date: 2023-11-30
---

{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
<div class="py-10 max-w-7xl mx-auto lg:px-8" x-data="roleDetailData">
  <header class="flex items-center justify-between px-4 lg:px-0">
    <h1 class="text-2xl sm:text-3xl font-bold leading-tight text-gray-900">{{ roles_list[0].name }}</h1>
  </header>
  <main class="pt-8">
    <div class="px-4 sm:px-6 lg:px-8 pb-6 bg-white border-b border-gray-200 shadow sm:rounded-lg">
      <div class="xl:grid xl:grid-cols-3">
        {% include "./includes/permission_table.html" %}
        {% include "./includes/assign_role_users.html" %}
      </div>
    </div>
  </main>

  {% include './includes/remove_user_modal.html' %}
</div>
{% endblock %}

{% block script %}
  {{block.super}}
  {% include "./includes/role_detail_scripts.html" %}
{% endblock script %}
