---
slug: custom_login_page
tags: testpress
title: custom Landing Page
date: 2023-03-20
---

{% extends "layouts/base.html" %}

{% block head %}
<style>
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}


.custom-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto; 
}

@media (max-width: 1320px) {
  .custom-container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .custom-container {
    max-width: 100%;
  }
}

</style>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


{% block extra_head %} {% endblock extra_head %}
{% endblock head %}


{% block body %}

{% include "./includes/header.html" %}
{% include "./includes/login_form.html" %}
{% include "./includes/carousel.html" %}
{% include "./includes/footer.html" %}

{% block content %} {% endblock content %}
{% block script %} {% endblock script %}

{% endblock body %}

