<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("instructions", () => ({
      instructionPage: parseInt("{{instructionPage}}"),

      instruction: {
        ["x-html"]() {
          switch (this.instructionPage) {
            case 1:
              return `{% include "./instructions/1.html" %}`;
            case 2:
              return `{% include "./instructions/2.html" %}`;
            case 3:
              return `{% include "./instructions/3.html" %}`;
            case 4:
              return `{% include "./instructions/4.html" %}`;
            case 5:
              return `{% include "./instructions/5.html" %}`;
            case 6:
              return `{% include "./instructions/6.html" %}`;
            case 7:
              return `{% include "./instructions/7.html" %}`;
            case 8:
              return `{% include "./instructions/8.html" %}`;
            case 9:
              return `{% include "./instructions/9.html" %}`;
            case 10:
              return `{% include "./instructions/10.html" %}`;
            case 11:
              return `{% include "./instructions/11.html" %}`;
            default:
              return "";
          }
        },
      },

      onClickNext() {
        if (this.instructionPage <= 10) {
          this.instructionPage++;
        } else {
          window.location = "{{'section_order/'|url}}";
        }
      },

      onClickPrevious() {
        if (this.instructionPage >= 2) this.instructionPage--;
      },

      showPreviousButton() {
        return this.instructionPage > 1;
      }
    }));
  });
</script>
