{% extends "../base.html" %}

{% block body %}
<body x-data="{ 
    mobileMenuOpen: false, 
    searchOpen: false, 
    currentPath: window.location.pathname,
    previewPath: window.location.pathname.match(/(\/pr-preview\/pr-\d+)?/)[0] || '',
    isDark: localStorage.getItem('hs_theme') === 'dark' || (!localStorage.getItem('hs_theme') && window.matchMedia('(prefers-color-scheme: dark)').matches) 
  }" x-init="$watch('isDark', val => { 
    const theme = val ? 'dark' : 'light';
    localStorage.setItem('hs_theme', theme);
    if (val) document.documentElement.classList.add('dark');
    else document.documentElement.classList.remove('dark');
  })"
  class="{% block body_class %}bg-background-1 text-foreground transition-colors duration-300 antialiased{% endblock %}">
{% include "../includes/admin_header.html" %}
{% include "../includes/admin_sidebar.html" %}
<main id="content" class="lg:ps-65 pt-15">
  <div class="p-2 sm:p-5 sm:py-0 md:pt-5 space-y-5">
    {% block content %} {% endblock content %}
  </div>
</main>
{% include "../includes/admin_global_search.html" %}
{% include "../includes/admin_activity.html" %}
{% include "../includes/admin_activity.html" %}
 {% block extra_scripts %}{% endblock %}
</body>
{% endblock body %}
