{% extends "../base.html" %}
{% block body %}

<body x-data="{ 
    mobileMenuOpen: false, 
    searchOpen: false, 
    previewPath: window.location.pathname.match(/(\/pr-preview\/pr-\d+)?/)[0] || '',
    isDark: localStorage.getItem('hs_theme') === 'dark' || (!localStorage.getItem('hs_theme') && window.matchMedia('(prefers-color-scheme: dark)').matches) 
  }" x-init="$watch('isDark', val => { 
    const theme = val ? 'dark' : 'light';
    localStorage.setItem('hs_theme', theme);
    if (val) document.documentElement.classList.add('dark');
    else document.documentElement.classList.remove('dark');
  })"
  class="{% block body_class %}bg-background-1 text-foreground transition-colors duration-300 antialiased{% endblock %}">
  
  {% block main %}
  <main id="content">
    <div class="fixed top-4 right-4 z-50">

      <!-- Dark Mode -->
      <button x-show="!isDark" @click="isDark = true" type="button"
        class="flex items-center gap-x-1.5 text-sm text-muted-foreground hover:text-foreground focus:outline-hidden">
        <i class="shrink-0 size-4" data-lucide="moon"></i>

        <span class="sr-only">Dark mode</span>
      </button>

      <!-- Light Mode -->
      <button x-show="isDark" @click="isDark = false" type="button"
        class="flex items-center gap-x-1.5 text-sm text-muted-foreground hover:text-foreground focus:outline-hidden">
        <i class="shrink-0 size-4" data-lucide="sun"></i>

        <span class="sr-only">Light mode</span>
      </button>

    </div>

    <div>

      <!-- ========== MAIN CONTENT ========== -->
      <div class="flex min-h-full">
        <!-- Sidebar -->
        {% include "../includes/auth_sidebar.html" %}
        <!-- End Sidebar -->

        <!-- Content -->
        <div class="grow px-5">

          <div class="h-full min-h-screen sm:w-112 flex flex-col justify-center mx-auto space-y-5 py-10">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
        <!-- End Content -->
      </div>
    </div>
  </main>
  {% endblock main %}

  {% block extra_scripts %}{% endblock %}
</body>

{% endblock body %}