{% extends "../base.html" %}

{% block body %}
<body x-data="{ 
    mobileMenuOpen: false, 
    searchOpen: false, 
    previewPath: window.location.pathname.match(/(\/pr-preview\/pr-\d+)?/)[0] || '',
    isDark: localStorage.getItem('hs_theme') === 'dark' || (!localStorage.getItem('hs_theme') && window.matchMedia('(prefers-color-scheme: dark)').matches) 
  }" x-init="$watch('isDark', val => { 
    const theme = val ? 'dark' : 'light';
    localStorage.setItem('hs_theme', theme);
    if (val) document.documentElement.classList.add('dark');
    else document.documentElement.classList.remove('dark');
  })"
  class="{% block body_class %}bg-white dark:bg-neutral-800 text-gray-800 dark:text-neutral-200 transition-colors duration-300 antialiased{% endblock %}">

    <main class="flex min-h-full">
      <div class="fixed top-4 right-4 z-50">
  
  <!-- Dark Mode -->
  <button
    x-show="!isDark"
    @click="isDark = true"
    type="button"
    class="hover:cursor-pointer flex items-center gap-x-1.5 text-sm text-gray-500 dark:text-neutral-400 hover:text-gray-800 dark:hover:text-neutral-200 focus:outline-hidden"
  >
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
    </svg>

    <span class="sr-only">Dark mode</span>
  </button>

  <!-- Light Mode -->
  <button
    x-show="isDark"
    @click="isDark = false"
    type="button"
    class="hover:cursor-pointer flex items-center gap-x-1.5 text-sm text-gray-500 dark:text-neutral-400 hover:text-gray-800 dark:hover:text-neutral-200 focus:outline-hidden"
  >
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="4"></circle>
      <path d="M12 2v2"></path>
      <path d="M12 20v2"></path>
      <path d="m4.93 4.93 1.41 1.41"></path>
      <path d="m17.66 17.66 1.41 1.41"></path>
      <path d="M2 12h2"></path>
      <path d="M20 12h2"></path>
      <path d="m6.34 17.66-1.41 1.41"></path>
      <path d="m19.07 4.93-1.41 1.41"></path>
    </svg>

    <span class="sr-only">Light mode</span>
  </button>

</div>
      <!-- Sidebar -->
{% include "./includes/auth_sidebar.html" %}
      <!-- End Sidebar -->

      <!-- Content -->
      <div class="grow px-5">
        
        <div class="h-full min-h-screen sm:w-112 flex flex-col justify-center mx-auto space-y-5">
{% block content %}
{% endblock content %}
        </div>
      </div>
      <!-- End Content -->
    </main>

  {% block extra_scripts %}{% endblock %}
</body>

{% endblock body %}
