---
title: Style Guide
tags: testpress
date: 1997-01-03
permalink: testpress/style_guide/
---

{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock body_class %}



{% block content %}
<div class="py-10 max-w-7xl mx-auto lg:px-8 px-4 space-y-8">
  {% include "./includes/color_palette.html" %}
  {% include "./includes/typography.html" %}
  {% include "./includes/buttons.html" %}
  {% include "./includes/form_elements.html" %}
  {% include "./includes/tabs.html" %}
  {% include "./includes/table.html" %}

</div>

{% endblock content %}

{% block script %}
<script src="https://preline.co/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="https://preline.co/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="https://preline.co/assets/js/hs-copy-clipboard-helper.js"></script>
{% endblock script %}