{% extends "../base.html" %}

{% block extra_head %}
{% include 'partials/theme-script.html' %}
{% endblock %}

{% block body %}
<body class="bg-surface {% block body_class %} {% endblock %}">
  {% include 'partials/theme-switcher.html' %}
  <div class="min-h-full" x-data="{ previewPath: window.location.pathname.match(/(\/pr-preview\/pr-\d+)?/)[0] || '' }">
    <!-- Render the custom navbar if one exists, otherwise render the main content directly if the page provides its own header -->
    {% block navbar %}
      {% include "../includes/admin_navbar.html" ignore missing %}
    {% endblock navbar %}
    
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" class="pt-15">
      <div class="max-w-360 p-2 sm:p-5  space-y-5 mx-auto">
        {% block content %} {% endblock content %}
      </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
  </div>
</body>
{% endblock body %}
