<div x-data="{activeTab: 1}">
  <div x-init="showReturnButton=true;">
    <nav class="-mb-px flex divide-x-2" aria-label="Tabs">
      <template x-for="tab in readingSectionHelpPages">
        <button class="rounded-t-md shadow-sm py-4 px-1 text-center text-sm" aria-current="page" @click="activeTab=tab.id"
          x-text="tab.name"
          :class="{'bg-white border-t-[#005b63] text-[#005b63] border-t-4 font-semibold': activeTab == tab.id, 'bg-gray-100 text-gray-500 border-gray-300 hover:text-gray-700 border-b-2 border-gray-200 font-medium': activeTab != tab.id}">
        </button>
      </template>
    </nav>
  </div>

  <div class="mt-10 tracking-wider">
    {% include "./testing_tools.html" %}
    {% include "./reading_the_passage.html" %}
    {% include "./general_directions.html" %}
    {% include "./section_directions.html" %}
  </div>
</div>