{% from "./card.html" import card %}
{% from "./button.html" import button %}

{% macro empty_state(
  title, 
  description="", 
  icon="", 
  illustration="", 
  primary_action_text="", 
  primary_action_href="", 
  secondary_action_text="", 
  secondary_action_href="", 
  compact=false, 
  centered=true,
  wrap_card=true,
  primary_action_attrs="",
  primary_action_icon=""
) %}
  
  {% set inner_content %}
  <div class="{% if compact %}p-5 min-h-48{% else %}p-5 min-h-100{% endif %} flex flex-col {% if centered %}justify-center items-center text-center{% else %}justify-center{% endif %}">
    
    {% if illustration %}
      <div class="{% if centered %}mx-auto{% endif %}">
        {{ illustration | safe }}
      </div>
    {% elif icon %}
      <div class="{% if centered %}mx-auto{% endif %} flex justify-center items-center size-12 bg-gray-100 dark:bg-neutral-800 rounded-full">
        <i data-lucide="{{ icon }}" class="shrink-0 size-6 text-gray-500 dark:text-neutral-400"></i>
      </div>
    {% else %}
      <div class="{% if centered %}mx-auto{% endif %} flex justify-center items-center size-12 bg-gray-100 dark:bg-neutral-800 rounded-full">
        <i data-lucide="database" class="shrink-0 size-6 text-gray-500 dark:text-neutral-400"></i>
      </div>
    {% endif %}

    <div class="{% if centered %}max-w-sm mx-auto{% else %}max-w-md{% endif %}">
      <p class="mt-2 font-medium text-gray-800 dark:text-neutral-200">
        {{ title }}
      </p>
      {% if description %}
      <p class="{% if primary_action_text or secondary_action_text %}mb-5{% else %}mb-1{% endif %} mt-1 text-sm text-gray-500 dark:text-neutral-400">
        {{ description }}
      </p>
      {% endif %}
    </div>

    {% if primary_action_text or secondary_action_text %}
    <div class="flex items-center gap-x-2 {% if not description %}mt-4{% endif %}">
      {% if secondary_action_text %}
        {{ button(text=secondary_action_text, href=secondary_action_href, variant="secondary", size="sm" if compact else "md") }}
      {% endif %}
      
      {% if primary_action_text %}
        {{ button(text=primary_action_text, href=primary_action_href, variant="primary", size="sm" if compact else "md", extra_attrs=primary_action_attrs, icon=primary_action_icon) }}
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% endset %}

  {% if wrap_card %}
    {{ card(content=inner_content, padding="p-0") }}
  {% else %}
    {{ inner_content | safe }}
  {% endif %}

{% endmacro %}
