{% macro page_header(title="", description="", actions="") %}
<div class="flex flex-wrap justify-between items-center gap-4">
  <div>
    {% if title %}
    <h1 class="text-lg md:text-xl font-semibold text-gray-800 dark:text-white">
      {{ title }}
    </h1>
    {% endif %}
    {% if description %}
    <p class="text-sm text-gray-500 dark:text-neutral-400">
      {{ description }}
    </p>
    {% endif %}
  </div>
  {% if actions %}
  <div class="flex items-center gap-2">
    {{ actions | safe }}
  </div>
  {% endif %}
</div>
{% endmacro %}
