{% macro pagination(items=[1, 2, 3, '...', 8], current=1, show_go_to=true) %}
<div class="grid justify-center sm:flex sm:justify-between sm:items-center gap-1">
  <!-- Pagination -->
  <nav class="flex items-center -space-x-px" aria-label="Pagination">
    <button type="button" class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 dark:border-neutral-700 text-gray-800 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none" aria-label="Previous">
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
      <span class="sr-only">Previous</span>
    </button>
    
    {% for item in items %}
      {% if item == '...' %}
        <div class="hs-tooltip inline-block border border-gray-200 dark:border-neutral-700">
          <button type="button" class="hs-tooltip-toggle group min-h-9 min-w-9 flex justify-center items-center text-gray-400 dark:text-neutral-500 hover:text-blue-700 dark:hover:text-blue-600 p-2 text-sm focus:outline-hidden focus:text-blue-700 dark:focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none">
            <span class="group-hover:hidden text-xs">•••</span>
            <svg class="group-hover:block hidden shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"/><path d="m13 17 5-5-5-5"/></svg>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 dark:bg-white border border-transparent text-xs font-medium text-white dark:text-neutral-800 rounded-md shadow-2xs" role="tooltip">
              More pages
            </span>
          </button>
        </div>
      {% else %}
        {% if item == current %}
          <button type="button" class="min-h-9.5 min-w-9.5 flex justify-center items-center bg-gray-100 dark:bg-neutral-700 text-gray-800 dark:text-neutral-200 border border-gray-200 dark:border-neutral-700 py-2 px-3 text-sm first:rounded-s-lg last:rounded-e-lg focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none" aria-current="page">{{ item }}</button>
        {% else %}
          <button type="button" class="min-h-9.5 min-w-9.5 flex justify-center items-center border border-gray-200 dark:border-neutral-700 text-gray-800 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-neutral-700 py-2 px-3 text-sm first:rounded-s-lg last:rounded-e-lg focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none">{{ item }}</button>
        {% endif %}
      {% endif %}
    {% endfor %}

    <button type="button" class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 dark:border-neutral-700 text-gray-800 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-neutral-700 focus:outline-hidden focus:bg-gray-100 dark:focus:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none" aria-label="Next">
      <span class="sr-only">Next</span>
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </button>
  </nav>

  {% if show_go_to %}
  <!-- Go To Page -->
  <div class="flex justify-center sm:justify-start items-center gap-x-2">
    <span class="text-sm text-gray-800 dark:text-neutral-200 whitespace-nowrap">
      Go to
    </span>
    <input type="number" class="min-h-9.5 py-2 px-2.5 block w-12 bg-white dark:bg-neutral-800 border-gray-200 dark:border-neutral-700 rounded-lg text-sm text-center text-gray-800 dark:text-neutral-200 placeholder:text-gray-500 dark:placeholder:text-neutral-400 focus:border-blue-700 dark:focus:border-blue-600 focus:ring-blue-700 dark:focus:ring-blue-600 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none disabled:opacity-50 disabled:pointer-events-none" style="-moz-appearance: textfield;">
    <span class="text-sm text-gray-800 dark:text-neutral-200 whitespace-nowrap">
      page
    </span>
  </div>
  {% endif %}
</div>
{% endmacro %}
