  {% macro radio(
  name, 
  id="", 
  label="", 
  description="",
  value="",
  checked=false, 
  disabled=false, 
  required=false,
  helper_text="",
  error_message="",
  x_model="",
  x_ref="",
  extra_classes="",
  extra_attrs="",
  sr_only_label=false,
  variant="standard"
) %}
{% set unique_id = id %}
{% if not unique_id %}
  {% if value %}
    {% set unique_id = name ~ '-' ~ value %}
  {% else %}
    {% set unique_id = name ~ '-' ~ (range(1000, 9999) | random) %}
  {% endif %}
{% endif %}

{% if variant == "card" %}
<label for="{{ unique_id }}" class="py-3 px-4 flex text-sm bg-white dark:bg-neutral-800 text-gray-800 dark:text-neutral-200 rounded-xl cursor-pointer ring-1 ring-gray-200 dark:ring-neutral-700 has-[:checked]:ring-2 has-[:checked]:ring-primary-600 dark:has-[:checked]:ring-primary-500 transition-all {{ extra_classes }}">
  <input 
    id="{{ unique_id }}" 
    name="{{ name }}" 
    type="radio" 
    class="shrink-0 size-4 mt-0.5 bg-transparent border-gray-300 dark:border-neutral-600 rounded-full shadow-2xs text-primary-600 dark:text-primary-500 focus:ring-0 focus:ring-offset-0 checked:bg-primary-600 dark:checked:bg-primary-500 checked:border-primary-600 dark:checked:border-primary-500 disabled:opacity-50 disabled:pointer-events-none {% if error_message %}border-red-500 dark:border-red-500 checked:bg-red-500 dark:checked:bg-red-500 checked:border-red-500 dark:checked:border-red-500{% endif %}"
    {% if value %}value="{{ value }}"{% endif %}
    {% if checked %}checked{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if required %}required{% endif %}
    {% if x_model %}x-model="{{ x_model }}"{% endif %}
    {% if x_ref %}x-ref="{{ x_ref }}"{% endif %}
    {{ extra_attrs | safe }}>
  <span class="grow px-4 space-y-1">
    {% if label %}
      <span class="block font-medium {% if error_message %}text-red-500 dark:text-red-500{% endif %}">
        {{ label }}{% if required %} <span class="text-red-500">*</span>{% endif %}
      </span>
    {% endif %}
    {% if description %}
      <span class="block text-sm/6 text-gray-500 dark:text-neutral-400">
        {{ description }}
      </span>
    {% endif %}
  </span>
</label>
{% else %}
<div class="relative">
  <div class="flex gap-3">
    <div class="flex h-6 shrink-0 items-center">
      <input 
        id="{{ unique_id }}" 
        name="{{ name }}" 
        type="radio" 
        class="shrink-0 size-4 mt-0.5 bg-transparent border-gray-300 dark:border-neutral-600 rounded-full shadow-2xs text-primary-600 dark:text-primary-500 focus:ring-0 focus:ring-offset-0 checked:bg-primary-600 dark:checked:bg-primary-500 checked:border-primary-600 dark:checked:border-primary-500 disabled:opacity-50 disabled:pointer-events-none {% if error_message %}border-red-500 dark:border-red-500 checked:bg-red-500 dark:checked:bg-red-500 checked:border-red-500 dark:checked:border-red-500{% endif %} {{ extra_classes }}"
        {% if value %}value="{{ value }}"{% endif %}
        {% if checked %}checked{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
        {% if x_model %}x-model="{{ x_model }}"{% endif %}
        {% if x_ref %}x-ref="{{ x_ref }}"{% endif %}
        {{ extra_attrs | safe }}>
    </div>
    
    {% if label or description %}
      <div class="text-sm/6">
        {% if label %}
          <label for="{{ unique_id }}" class="{% if sr_only_label %}sr-only{% else %}font-medium {% if error_message %}text-red-500 dark:text-red-500{% else %}text-gray-800 dark:text-neutral-200{% endif %}{% endif %}">
            {{ label }}{% if required %} <span class="text-red-500">*</span>{% endif %}
          </label>
        {% endif %}
        {% if description %}
          <p class="text-gray-500 dark:text-neutral-400">
            {{ description }}
          </p>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if error_message %}
    <p class="mt-2 text-sm text-red-600" id="{{ unique_id }}-error">{{ error_message }}</p>
  {% elif helper_text %}
    <p class="mt-2 text-sm text-gray-500 dark:text-neutral-400" id="{{ unique_id }}-help">{{ helper_text }}</p>
  {% endif %}
</div>
{% endif %}
{% endmacro %}
