{% macro stats_card(
  title,
  value,
  description="",
  icon="",
  trend="",
  trend_type="neutral",
  meta="",
  footer="",
  compact=false
) %}
<div class="{% if compact %}p-4{% else %}p-4 sm:p-5{% endif %} bg-white dark:bg-neutral-800 border border-gray-200 dark:border-neutral-700 rounded-xl shadow-2xs">
  <div class="sm:flex sm:gap-x-3">
    {% if icon %}
      <i data-lucide="{{ icon }}" class="sm:order-2 mb-2 sm:mb-0 shrink-0 {% if compact %}size-5{% else %}size-6{% endif %} text-gray-400 dark:text-neutral-500"></i>
    {% endif %}
    
    <div class="sm:order-1 grow space-y-1">
      <h2 class="{% if not compact %}sm:mb-3{% else %}mb-1 sm:mb-2{% endif %} text-sm text-gray-500 dark:text-neutral-400">
        {{ title }}
      </h2>
      <p class="{% if compact %}text-lg font-semibold{% else %}text-lg md:text-xl font-semibold{% endif %} text-gray-800 dark:text-neutral-200">
        {{ value | safe }}
      </p>
      {% if description %}
        <p class="text-xs text-gray-500 dark:text-neutral-400 mt-1">{{ description }}</p>
      {% endif %}
    </div>
  </div>

  {% if meta or trend or footer %}
    <div class="mt-1 flex flex-wrap items-center gap-x-2 gap-y-1">
      {% if meta %}
        <span class="text-sm leading-5 text-gray-500 dark:text-neutral-400">
          {{ meta }}
        </span>
      {% endif %}
      
      {% if trend %}
        {% set trend_color = "text-gray-500 dark:text-neutral-400" %}
        {% set trend_icon = "minus" %}
        
        {% if trend_type == "positive" %}
          {% set trend_color = "text-green-500" %}
          {% set trend_icon = "trending-up" %}
        {% elif trend_type == "negative" %}
          {% set trend_color = "text-red-500" %}
          {% set trend_icon = "trending-down" %}
        {% endif %}
        
        <span class="inline-flex items-center gap-x-1 text-xs font-medium {{ trend_color }} rounded-full">
          <i data-lucide="{{ trend_icon }}" class="shrink-0 size-4"></i>
          {{ trend }}
        </span>
      {% endif %}
      
      {% if footer %}
        <div class="w-full text-xs text-gray-500 dark:text-neutral-400 mt-2 pt-2 border-t border-gray-200 dark:border-neutral-700">
          {{ footer | safe }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro %}
