{% macro timeline(items=[]) %}
<!-- Timeline -->
<div>
  {% for item in items %}
    {% if item.heading %}
      <div class="ps-2 my-2 {% if loop.first %}first:mt-0{% else %}mt-4{% endif %}">
        <h3 class="text-xs font-medium uppercase text-gray-500 dark:text-neutral-400">
          {{ item.heading }}
        </h3>
      </div>
    {% else %}
      <div class="flex gap-x-3">
        <!-- Icon -->
        <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
          <div class="relative z-10 size-7 flex justify-center items-center">
            <div class="size-2 rounded-full {% if item.dot_class %}{{ item.dot_class }}{% else %}bg-gray-400 dark:bg-neutral-600{% endif %}"></div>
          </div>
        </div>
        <!-- Right Content -->
        <div class="grow pt-1 {% if loop.last %}pb-2{% else %}pb-6{% endif %}">
          <p class="text-sm text-gray-800 dark:text-neutral-200">
            {{ item.title | safe }}
          </p>
          <p class="mt-1 text-xs text-gray-500 dark:text-neutral-500">
            {{ item.subtitle | safe }}
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<!-- End Timeline -->
{% endmacro %}
