<div class="flex " x-data="useCourseFilter()">
  <div class="flex flex-col space-y-4">
    <div>
      <nav class="flex items-center overflow-x-auto hide-scrollbar">
        <div class="flex gap-2 mr-2">
          <template x-for="(category, index) in categories" :key="category.id">
            <label x-show="index < visibleCount" :for="`category-${category.id}`" class="py-2 px-2.5  flex justify-center items-center text-center text-[13px] cursor-pointer rounded-xl transition-all duration-200
      border ring-1 ring-inset
      text-gray-800 border-gray-200 ring-transparent
      dark:bg-neutral-800 dark:text-neutral-200 dark:border-neutral-700" :class="isSelected(category.id) 
      ? 'bg-primary-100 border-primary-200 ring-primary-200 text-primary-800 dark:bg-primary-800/30 dark:border-primary-800/50 dark:ring-primary-800/50 dark:text-primary-500' 
      : 'hover:border-primary-600 hover:ring-primary-600 dark:hover:ring-neutral-600' ">

              <input type="checkbox" :id="`category-${category.id}`" class="hidden" :checked="isSelected(category.id)"
                @change="toggleCategory(category.id)">

              <span class="flex shrink-0 justify-center items-center rounded-full transition-all duration-200" :class="isSelected(category.id) 
        ? 'size-4 me-1.5 bg-primary-500 text-white' 
        : 'size-0 bg-primary-500 text-transparent'">
                <svg class="shrink-0 size-2.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M20 6 9 17l-5-5" />
                </svg>
              </span>

              <span class="block max-w-56 truncate" x-text="category.name"></span>
            </label>
          </template>
        </div>



      </nav>

    </div>
  </div>

    <div class="relativ">
      <!-- Filter Dropdown -->
      <div class="hs-dropdown [--auto-close:inside] [--placement:bottom-left] relative inline-flex">
        <div class="hs-tooltip [--placement:bottom] inline-block">
              <button  id="hs-pro-dnnd" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown"
      class="py-2 px-2.5  flex justify-center items-center text-center text-[13px] cursor-pointer rounded-xl transition-all duration-200
      border ring-1 ring-inset
      bg-white text-gray-800 border-gray-200 ring-transparent
      dark:bg-neutral-800 dark:text-neutral-200 dark:border-neutral-700 hover:border-primary-600 hover:ring-primary-600 dark:hover:ring-neutral-600">
      <span class="block">View All</span>
    </button>
        </div>
        <!-- End Notifications Button Icon -->
      
        <!-- Notifications Dropdown -->
        <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-full sm:w-96 transition-[opacity,margin] duration opacity-0 hidden z-10 bg-white border border-gray-200  sm:rounded-lg shadow-md sm:shadow-xl dark:bg-neutral-900 dark:border-neutral-700" role="menu" aria-orientation="vertical" aria-labelledby="hs-pro-dnnd">
          <!-- Header -->
      
      
          <!-- Tab Content -->
          <div id="hs-pro-filter" role="tabpanel" aria-labelledby="hs-pro-tabs-dnn-item-all">
          <div class="p-4 space-y-5">
            <div>
              <label for="hs-pro-dalpn" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">
                Filter by Courses
              </label>
      
              <div class="relative w-full" x-data x-init="
                document.addEventListener('click', (e) => {
                  if (e.target.closest('[data-remove]')) {
                    e.stopPropagation();
                  }
                });
              ">
                <select  multiple data-hs-select='{
                    "placeholder": "Select courses",
                    "wrapperClasses": "hs-select-active:ring-1 hs-select-active:ring-primary-500 pe-9 rounded-lg flex items-center flex-wrap text-nowrap w-full text-start text-sm border border-gray-200 shadow-sm dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 hs-select-active:dark:outline-none hs-select-active:dark:ring-1 hs-select-active:dark:ring-gray-600",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:bg-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400",
                    "dropdownClasses": "mt-2 z-50 w-full max-h-48 p-1 space-y-0.5 bg-white rounded-lg overflow-hidden overflow-y-auto shadow-[0_10px_40px_10px_rgba(0,0,0,0.08)] dark:bg-neutral-900",
                    "optionClasses": "hs-selected:bg-gray-100 dark:hs-selected:bg-neutral-800 py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800",
                    "mode": "tags",
                    "tagsClasses": "relative ps-0.5 pe-9 min-h-[38px] flex items-center flex-wrap text-nowrap w-full border border-gray-200 rounded-lg text-start text-sm focus:border-primary-500 focus:ring-primary-500 dark:bg-neutral-900 dark:text-neutral-400",
                    "tagsItemTemplate": "<div class=\"flex flex-nowrap items-center relative z-10 bg-white border border-gray-200 rounded-full p-[3px] m-0.5 dark:bg-neutral-900 dark:border-neutral-700\"><div class=\"size-6 me-1\" data-icon></div><div class=\"whitespace-nowrap ms-1\" data-title></div><div class=\"inline-flex shrink-0 justify-center items-center size-5 ms-2 rounded-full text-gray-800 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-neutral-400 text-sm dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:text-neutral-400 cursor-pointer\" data-remove><svg class=\"shrink-0 size-3\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M18 6 6 18\"/><path d=\"m6 6 12 12\"/></svg></div></div>",
                    "tagsInputClasses": "py-[9px] px-4 grow order-1 text-sm bg-transparent rounded-lg focus-visible:outline-none dark:bg-neutral-800 dark:bg-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 focus:outline-none focus:ring-0 border-0",
                    "optionTemplate": "<div class=\"flex items-center\"><div class=\"size-8 me-2\" data-icon></div><div><div class=\"text-sm font-semibold text-gray-800 dark:text-neutral-200\" data-title></div><div class=\"text-xs text-gray-500 dark:text-neutral-500\" data-description></div></div><div class=\"ms-auto\"><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-4\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 16 16\"><path d=\"M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z\"/></svg></span></div></div>"
                  }' class="hidden">
                  <option value="">Choose</option>
                  <option value="web_dev">Web Development</option>
                  <option value="data_science">Data Science</option>
                  <option value="ui_ux">UI/UX Design</option>
                  <option value="cyber_security">Cyber Security</option>
                  <option value="cloud_computing">Cloud Computing</option>
                  <option value="ai_ml">Artificial Intelligence & Machine Learning</option>
                  <option value="mobile_dev">Mobile App Development</option>
                  <option value="game_dev">Game Development</option>
                  <option value="digital_marketing">Digital Marketing</option>
                  <option value="blockchain">Blockchain Technology</option>                      
                </select>
      
                <div class="absolute top-1/2 end-2.5 -translate-y-1/2">
                  <svg class="shrink-0 size-3.5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>
                </div>
              </div>
      
            </div>
      
            <div class="flex-1 flex justify-end items-center gap-2">
              <button type="button" class="hs-dropdown-close py-2 px-3 text-nowrap inline-flex justify-center items-center text-start whitespace-nowrap bg-white border border-gray-200 text-gray-800 text-sm font-medium rounded-lg shadow-2xs align-middle hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                Clear All
              </button>
      
              <button type="button" class="hs-dropdown-close py-2 px-3 text-nowrap inline-flex justify-center items-center gap-x-2 text-start whitespace-nowrap bg-primary-600 border border-primary-600 text-white text-sm font-medium rounded-lg shadow-2xs align-middle hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:ring-1 focus:ring-primary-300 dark:focus:ring-primary-500">
                Apply Filter
              </button>
            </div>
      
          </div>
          </div>
        </div>
        
      </div>
      <!-- End Filter Dropdown -->
    </div>
</div>



