name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
        
      - name: Install dependencies & build
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: |
          npm ci
          BASE_PATH=/pr-preview/pr-${{ github.event.pull_request.number }} npm run build   

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: public
