<div class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
  <nav class="space-y-1">
    <a href="#"
      class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span class="truncate"> Profile </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M19 21V5a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5m-4 0h4" />
      </svg>
      <span class="truncate"> Institute </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 12a9 9 0 0 1-9 9m9-9a9 9 0 0 0-9-9m9 9H3m9 9a9 9 0 0 1-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 0 1 9-9" />
      </svg>
      <span class="truncate"> Portal </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15 7a2 2 0 0 1 2 2m4 0a6 6 0 0 1-7.743 5.743L11 17H9v2H7v2H4a1 1 0 0 1-1-1v-2.586a1 1 0 0 1 .293-.707l5.964-5.964A6 6 0 1 1 21 9z" />
      </svg>
      <span class="truncate"> Password </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate"> Statistics </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5.586a1 1 0 0 1 .707.293l5.414 5.414a1 1 0 0 1 .293.707V19a2 2 0 0 1-2 2z" />
      </svg>
      <span class="truncate"> DRM lincenses </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M17 14v6m-3-3h6M6 10h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2zm10 0h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2zM6 20h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate"> Apps </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9 12h6m-6 4h6m2 5H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5.586a1 1 0 0 1 .707.293l5.414 5.414a1 1 0 0 1 .293.707V19a2 2 0 0 1-2 2z" />
      </svg>
      <span class="truncate"> Custom fields </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate"> Bandwidth Usage</span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3z" />
      </svg>
      <span class="truncate"> Billing</span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0z" />
      </svg>
      <span class="truncate"> Subscription </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M7 7h.01M7 3h5a1.99 1.99 0 0 1 1.414.586l7 7a2 2 0 0 1 0 2.828l-7 7a2 2 0 0 1-2.828 0l-7-7A1.994 1.994 0 0 1 3 12V7a4 4 0 0 1 4-4z" />
      </svg>
      <span class="truncate"> Tags </span>
    </a>
    <a href="{{ '/coupon/base'|url }}"
    class="{% if '/coupon/' in page.url %}text-green-700 bg-white {% endif %} group rounded-md px-3 py-2 flex items-center text-sm font-medium active:bg-emerald-100 {% if request.resolver_match.view_name == 'settings:profile' %}text-green-700 bg-white hover:bg-white{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="{% if '/coupon/base/' in page.url %}text-green-700 group-hover:text-green-700 {% else %} text-gray-400 group-hover:text-gray-500 {% endif %} flex-shrink-0 -ml-1 mr-3 h-6 w-6" width="44" height="44"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <line x1="9" y1="15" x2="15" y2="9" />
        <circle cx="9.5" cy="9.5" r=".5" fill="currentColor" />
        <circle cx="14.5" cy="14.5" r=".5" fill="currentColor" />
        <path
          d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7a2.2 2.2 0 0 0 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1a2.2 2.2 0 0 0 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1" />
      </svg>
      <span class="truncate"> Discounts </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13 5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
      </svg>
      <span class="truncate"> Sales</span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M7 16a4 4 0 0 1-.88-7.903A5 5 0 1 1 15.9 6h.1a5 5 0 0 1 1 9.9M9 19l3 3m0 0 3-3m-3 3V10" />
      </svg>
      <span class="truncate"> Import Data</span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 0 1 6.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
      </svg>
      <span class="truncate"> Custom fonts</span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m4 16 4.586-4.586a2 2 0 0 1 2.828 0L16 16m-2-2 1.586-1.586a2 2 0 0 1 2.828 0L20 14m-6-6h.01M6 20h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate"> Banner ads </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M5 12h14M5 12a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2M5 12a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2m-2-4h.01M17 16h.01" />
      </svg>
      <span class="truncate"> Background tasks </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8-8 8-4-4-6 6" />
      </svg>
      <span class="truncate"> SEO Settings </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m10 20 4-16m4 4 4 4-4 4M6 16l-4-4 4-4" />
      </svg>
      <span class="truncate"> Code injection </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m3 8 7.89 5.26a2 2 0 0 0 2.22 0L21 8M5 19h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate"> Email Template </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-5l-5 5v-5z" />
      </svg>
      <span class="truncate"> SMS Template </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 18h.01M8 21h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2z" />
      </svg>
      <span class="truncate">Mobile app config </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m10 20 4-16m4 4 4 4-4 4M6 16l-4-4 4-4" />
      </svg>
      <span class="truncate"> Embed Videos </span>
    </a>
    <a href="#" class="text-gray-900 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m9 12 2 2 4-4m5.618-4.016A11.955 11.955 0 0 1 12 2.944a11.955 11.955 0 0 1-8.618 3.04A12.02 12.02 0 0 0 3 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
      </svg>
      <span class="truncate"> Security </span>
    </a>

  </nav>
</div>