<script>
  function select2(mocked_search_results, multiple = false) {
    return {
      items: [],
      selectedItems: [],
      showLoading: false,
      nextPage: false,
      multiple: multiple,
      showSuggestions :false,

      fetchItems(params = {}) {
        this.items = this.processResult(mocked_search_results);
        this.nextPage = null;
      },

      processResult(results) {
        return results
      },

      onItemSelect(selectedItem) {
        if (this.selectedItems.some(item => item.id === selectedItem.id)) {
          this.selectedItems = this.selectedItems.filter(item => item.id !== selectedItem.id)
        } else {
          if (!this.multiple) {
            this.selectedItems.pop();
          }
          this.selectedItems.push(selectedItem)
        }
      },

      removeItem(itemToRemove) {
        this.selectedItems = this.selectedItems.filter(item => item.id !== itemToRemove.id)
      },

      isItemSelected(item) {
        return this.selectedItems.some(e => e.id === item.id)
      },
    }
  }
</script>
