<script>
  function clipboardComponent() {
    return {
      showCopiedTooltip: false,
      copyToClipboard() {
        // Create a new textarea element
        const textarea = document.createElement('textarea');
        // Set its value to the content we want to copy
        textarea.value = this.$refs.contentToCopy.innerText;
        // Append it to the body
        document.body.appendChild(textarea);
        // Focus and select the textarea's content
        textarea.focus();
        textarea.select();
        // Use the browser's copy command
        document.execCommand('copy');
        // Remove the textarea from the body
        document.body.removeChild(textarea);
        // Show the tooltip
        this.showCopiedTooltip = true;

        // Hide the tooltip after a few seconds (e.g., 2 seconds)
        setTimeout(() => {
          this.showCopiedTooltip = false;
        }, 2000);
      }
    };
  }
</script>