<nav class="hidden sm:flex" aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-4">
        <li>
            <div>
                <a href="#"
                   class="text-sm font-medium text-gray-600 hover:text-gray-700">Courses</a>
            </div>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-5 h-5 text-gray-400 shrink-0" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="ml-4 text-sm font-medium text-gray-600 hover:text-gray-700">NEET 2024</span>
            </div>
        </li>
        {% if '/study_plans/detail/' in page.url or '/study_plans/create/' in page.url%}
        <li>
            <div class="flex items-center">
                <svg class="w-5 h-5 text-gray-400 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <a href="/study_plans/" class="ml-4 text-sm font-medium text-gray-600 hover:text-gray-700">Study plans</a>
            </div>
        </li>
        {% endif %}
        {% if '/study_plans/detail/' in page.url %}
        <li>
            <div class="flex items-center">
                <svg class="w-5 h-5 text-gray-400 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <a href="/study_plans/detail" class="ml-4 text-sm font-medium text-gray-600 hover:text-gray-700">Conceptual Physics and Chemistry</a>
            </div>
        </li>
        {% endif %}
    </ol>
</nav>