---
title: Extend Product Validity
tags: testpress
permalink: "/products/extend-validity/"
date: 2023-12-29
---



{% extends "layouts/admin_base.html" %}

{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock %}

{% block content %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  
  <div class="py-10 max-w-7xl mx-auto lg:px-8">
    {% include './includes/header.html' %}

    <div class="mt-6">
      <div class="py-8 px-4 sm:px-8 bg-white shadow xl:rounded space-y-8">
        <form>
          <div class="space-y-12">
            <div class="pb-6">
              <h2 class="text-base font-semibold leading-7 text-gray-900">Extend Purchase Validity</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">All users who purchased this product, regardless of order price and its validity, will lose their access on this date.</p>

              <div class="mt-6 grid grid-cols-1 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-2">
                  <label for="expires_at" class="block text-sm font-medium leading-6 text-gray-900">Expires at</label>
                  <div class="mt-2">
                    <input name="expires_at" type="text" class="date-field block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-6">
            <div class="sm:col-span-2 flex items-center justify-end gap-x-6">
              <a href="#" type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
              <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{block.super}}
  <script>
    flatpickr(".date-field", {
      altInput: true,
      altFormat: "F j, Y, G:i K",
      dateFormat: "Y-m-d H:i:S",
      enableTime: true,
      minDate: "today",
    })
  </script>
{% endblock script %}
