---
slug: custom-push-notification
tags: testpress
title: Custom Push Notification
date: 2024-04-05
---

{% extends "layouts/admin_base.html" %}
{% block extra_head %}

{% endblock %}
{% block body_class %}overflow-y-scroll min-h-screen bg-gray-100{% endblock body_class %}
{% block content %}
<div>
  <div class="py-10 max-w-7xl mx-auto lg:px-8" x-data="{showDeleteTemplate:false,isEmpty: new URLSearchParams(window.location.search).has('isempty') }">
    {% include './includes/header.html' %}
    {% include './includes/delete_template_modal.html' %}
    <main class="pt-8">
<!-- Contact Table Card -->
<div class="p-5 space-y-4 flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
  {% include './includes/search_template.html' %}
  {% include './includes/template_list.html' %}
  {% include './includes/empty.html' %}
</div>
</main>
  </div>
</div>

{% endblock %}


